@charset "utf-8";
/* CSS Document */

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  transition:all .2s ease;
  outline: none !important;
}

::-moz-selection {
    color: #ffffff;
    background: #31d093;
}

::selection {
    color: #ffffff;
    background: #31d093;
}

body {
  margin:0; padding:0;
  font-family: 'Raleway', sans-serif;
  line-height:30px;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	line-height:normal;
}

.primary {
  color: #31d093;
}

a {
	color:#31d093;
	text-decoration:none !important;
}

a:hover {
	color:#31d093;
}

ol, ul {
	padding:0 !important;
}

.row {
margin-top:12px;
margin-bottom:12px;
}

p {
	margin:0 0 24px;
}

p:last-child {
	margin:0;
}

input, 
select, 
textarea {
	color:inherit;
	padding:10px;
	font-family:inherit;
	border: 1px solid #ddd;
}

button,
input[type="submit"] {
	background: #31d093;
	color:#ffffff;
	border: 2px solid #31d093;
	border-radius: 30px;
	padding:8px 35px;
	text-transform: uppercase;
	cursor:pointer;
}

img {
	max-width:100%;
}

.inline-block {
	display:inline-block;
}

.marginauto {
	margin:0 auto;
}

/**header style**/
.header {
	position:absolute;
	padding: 20px 0;
	width:100%;
	top:0;
	z-index:99990;
}

header.fixed {
	padding:0;
	position: fixed;
	background: #fff;
}

header.fixed .logo {
	color: #000;
	background-image: url('../images/logo.png');
	margin-top: 5%;
}

.header .row {
	padding:0;
}

.header .container-fluid {
	width: 98%;
} 

.logo {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    background-image: url(../images/logo_w.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 38px;
    margin-top: 3%;
}

.logo img {
	display:block;
	height: 38px;
	margin-top: 7%;
}

.topmenu ul {
	list-style: none;
	margin:0; padding:0;
	text-align: right;
}

.topmenu ul li {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-left: 20px;
}

.topmenu ul li:first-child {
	margin-left: 0;
}

.topmenu ul li a {
	display: block;
	padding:10px 0;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 2px;
}

header.fixed .topmenu ul li a {
	color: #373737;
}

.topmenu ul li button .fa {
	margin-left: 4px;
	font-size: 12px;
}

.letstalkk button, .letstalkk button:hover {
	padding: 2px 22px;
	transition:none;
}

.letstalkk button .fa, .letstalkk button:hover .fa {
	transition:none;
}

.sidenav {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 10000000;
    top: 0;
	left: -35%;
    background-color: #31d093;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav.toggle {
	left: 0;
}

.sidenav ul {
	color:white;
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid rgba(0,0,0,0.1);
}

.sidenav ul li {
	display:block;
	position:relative;
	margin:0;
    color: #fff;
	border-bottom:1px solid rgba(0,0,0,0.1);
}

.sidenav ul.submenu {
	border-top:1px solid rgba(0,0,0,0.1);
	background:rgba(0,0,0,0.1);
}

.sidenav ul li:last-child {
	border-bottom:none;
}

.sidenav a, .sidenav ul li span.mainitem {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
	padding:20px 20px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #fff;
}

.opensidemenu {
	position: fixed;
	text-align: center;
	-moz-user-select: none;
	margin:0 auto; 
    width: 40px;
    text-align: center;
	font-size: 20px;
	line-height: 30px;
	z-index:999999999;
	cursor: pointer;
	top: 20px;
	right: 20px; 
	color: #31d093;
	display: none;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 2px;
    background-color: #31d093;
    margin: 6px auto;
    transition: 0.4s;
    display: block;
}

.opensidemenu.change,
.opensidemenu.change, 
.opensidemenu.change { 
	background: none;
}

.opensidemenu.change .bar1,
.opensidemenu.change .bar2, 
.opensidemenu.change .bar3 {
    background-color: #31d093;
}

.opensidemenu.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px) ;
    transform: rotate(-45deg) translate(-7px, 5px) ;
}

.opensidemenu.change .bar2 {
    opacity: 0;
}

.opensidemenu.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -4px) ;
    transform: rotate(45deg) translate(-6px, -4px) ;
}



.toppadding {
	padding-top: 50px;
}

h3.toggle {
	margin: 0;
    padding: 0;
    position: fixed;
    top: 16px;
    right: 20px;
    font-size: 20px;
	display:none;
	cursor:pointer;
}


.scrollup {
	position: fixed;
	bottom:20px;
	right: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #31d093;
	color: #fff !important;
	font-size: 20px;
	opacity: 0.8
}

.megamenu {
	width: 1280px;
	left: -640px;
}

.megamenu .col-md-3 {
	border-left: 1px solid #9395981a;
	padding: 0px;
}


.megamenu a {
	width: 100% !important;
	
}

.megamenu a:hover {
	width: 100% !important;
}



/*
========================================================================
# 1.0 - navbar hover
------------------------------------------------------------------------
*/


.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 50px; 
}

.dropdown-content {
    opacity:0;
    position: absolute;
    background-color: #fff;
    border-top: 3px solid #31d093;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 70px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    visibility: hidden;
}

header.fixed .dropdown-content {
    top: 66px;
}

.dropdown:hover .dropbtn {
	color: #31d093;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 200px;
}

.dropdown-content a:hover {background-color: #f1f1f1;
	padding-left: 18px !important;
	width: 100%;
}

.dropdown:hover .dropdown-content {
    opacity:1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
   
}

/**slider style**/
.bgimage {
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.landingimage {
	padding:170px 0 120px;
	background-position: top center;
	position: relative;
}

.landingimage::before, .dark-translucent-bg {
	position: absolute !important;
	width: 100% !important; height: 100% !important;
	left: 0 !important; top: 0 !important;
	content: "";
	background: rgba(0,0,0,0.3) !important;
}

.landingimage .container {
	position: relative;
}

p {
	font-size: 13px;
	line-height: 1.6;
	color: #555;
}

.landingimage h1.bigtitle {
	margin:0 0 40px;
	padding: 0;
	font-size: 80px;
	font-weight: bold;
	color: #fff;
}

.landingimage h1.bigtitle span {
	display:block;
}

.landingimage .title-2 h1 {
	color: #fff;
}

.landingimage .title-2 h1 span {
	display: block;
}

.landingimage .description {
	margin-bottom:80px;
}

.landingimage a.white_btn {
	margin-left: 10px;
}

.landingimage a.white_btn button {
	background: transparent;
	border:2px solid #fff;
	color: #fff;
}

.landingimage a:hover button {
	background: transparent;
	border:2px solid #fff;
	color: #fff;
}

.landingimage a.white_btn:hover button {
	border:2px solid #31d093;
	background: #31d093; 
}

.fa.slick-arrow {
    position: absolute;
    z-index: 9999999;
    top: 45%;
    font-size: 50px;

    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    opacity: 0.5;
}

.fa.slick-arrow:hover {
	opacity: 1;
}

.fa.fa-angle-left.slick-arrow {
	left: 20px;
	color: #fff !important;
}

.fa.fa-angle-right.slick-arrow {
	right: 20px;
	color: #fff !important;
}

#mainslider ul.slick-dots {
	position: absolute !important;
    bottom: 15px !important;
    display: block !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    text-align: center !important;
    clear: none !important;
}

#mainslider ul.slick-dots li button {
    border: 2px solid rgba(255,255,255,0.5) !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 100% !important;
    background: none !important;
}

#mainslider ul.slick-dots li button::before {
    width: 14px !important;
    height: 14px !important;
    border-radius: 100% !important;
    background: none !important;
    border: none !important;
}

#mainslider ul.slick-dots li.slick-active button {
	background: none !important;
}

#mainslider ul.slick-dots li.slick-active button::before {
	background: #fff !important;
    width: 7px !important;
    height: 7px !important;
    top: 4px !important;
    left: 4px !important;
}


/**body style**/ 
h2.title {
	color: #001839;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

h2.title::after {
	position: relative;
	display: block;
	width: 30px;
	margin: 15px auto 0;
	content: "";
	height: 2px;
	background: #31d093;
}

#services, .aboutus, .portfolio, .team, .statsweareproudof, .othersayings, .blogposts   {
	padding-top: 4%;
	padding-bottom: 4%;
}

.services .col-md-4 {
	padding-top: 2%;
}

.othersayings .col-md-6 {
	padding: 0px;
}


.services .col-md-4 img {
	height: 100px;
	margin:0 0 40px;
}

.services .col-md-4 .line {
	position: relative;
	display: block;
	height: 2px;
	width: 30px;
	background: #31d093;
	margin:0 auto 30px;
}

.services .col-md-4 h3 {
	margin:0 0 30px; padding:0;
	font-weight: 600;
	font-size: 18px;
	color: #001839;
}

.services .col-md-4 p {
	margin:0;
}

.explore_btn button {
	color: #001839;
	border:1px solid #31d093;
	background:transparent;
	font-weight: bold;
	padding: 8px 21px;
}

.explore_btn button:hover {
	background: #31d093;
	color: #fff;
}

.aboutus {
	background: #f3f3f3;
	color: #000; 
}

.aboutus p {
	padding-top: 2%;
}

.aboutus h2.title::after {
	margin:30px 0 10px;
}

.aboutus ul.listitem {
	margin:0; padding:0; 
	list-style: none;
}

.aboutus ul.listitem li {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.aboutus ul.listitem li span.digit {
	width: 40px;
	height: 40px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	border:2px solid #001839;
	font-size: 25px;
	margin-right: 10px;
	font-weight: 600;
	color: #001839;
	margin-bottom: 8px;
}

.areyoulooking {
	padding:100px 0;
	position: relative;
}

.areyoulooking::before {
	position: absolute;
	content: "";
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.5);
}

.areyoulooking .container {
	position: relative;
	color: #fff;
}

.areyoulooking h2 {
	text-transform: uppercase;
	color: #fff !important;
}

.areyoulooking h2::after {
	display: none !important;
}

.whitebtn button {
	background: #fff !important;
	color: #000 !important;
	border:2px solid #fff !important;
}

.whitebtn button:hover {
	background: none !important;
	color: #fff !important;
}

.trustedby_clients {
	background: #f3f3f3;
	margin:0 auto;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

.trustedby_clients .col-md-3 {
	padding:40px 30px;
	border:1px solid #ddd;
}

.trustedby_clients .col-md-3:hover {
	background: #31d093;
}

.trustedby_clients .col-md-3:hover img {
	filter: brightness(0) invert(1);
}

.trustedby_clients .col-md-3 img {
	height: 70px;
}

.trustedby_clients .col-md-3.topzero {
	border-top: 0;
}

.trustedby_clients .col-md-3.bottomzero {
	border-bottom: 0;
}

.trustedby_clients .col-md-3.leftzero {
	border-left: 0;
}

.trustedby_clients .col-md-3.rightzero {
	border-right: 0;
}

.portoflio_items {
	margin:20px 0 0;
}

.portoflio_items ul {
	list-style: none;
	margin:0; padding:0;
}

.portoflio_items ul li {
	position: relative;
	float: left;
	width: 25%;
	padding:20px;
}

.portoflio_items ul li .bgimage {
	width: 100%;
	height: 250px;
	background-size: cover;
	position: relative;
}

.portoflio_items ul li:hover .bgimage::before {
	position: absolute;
	content: "";
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(49,208,147,0.2);
}

.portoflio_items ul li h4 {
	margin:20px 10px;
	padding:0;
	color: #001839;
	font-size: 16px;
	font-weight: bold;
	
}

.portoflio_items ul li h4 span {
	display: block;
	color: #555555;
	font-size: 13px;
	margin-top: 3px;
	font-weight: 400;
}

ul#filter { 
  list-style: none;
  margin:0; padding:0;
  text-align: center;
}
ul#filter li { 
	display: inline-block;
	position: relative;
	margin-right: 30px;
	font-weight: 600;
	float: none;
	width: auto;
	padding:0;
	text-transform: uppercase;
	color: #31d093;
	font-size: 13px;
}
ul#filter li:last-child { margin-right: 0; }
ul#filter a { display: block; color: #001839; border-top:1px solid transparent; padding:5px 0; }
ul#filter li.current a, ul#filter a:hover { color: #31d093; border-top:1px solid #31d093; }
ul#filter li.current a { color: #31d093; }

.team {
	background: #f3f3f3;
}

.team_ul ul {
	list-style: none;
	margin: 0; padding: 0;
}

.team_ul ul li {
	position: relative;
	float: left;
	width: 20%;
	padding: 10px;
}

.team_ul ul li.littlebit_down {
	margin-top: 60px;
}

.team_ul ul li .bgimage {
	width: 100%;
	height: 370px;
	position: relative;
}

.team_ul ul li .bgimage::before {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(17,124,255,0.1);
	content: "";
}

.team_ul ul li .bgimage div {
	position: absolute;
	left:0; bottom: 0; 
	padding: 20px;
	z-index: 99;
}

.team_ul ul li h3 {
	margin: 0 0 8px; padding:0;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

.team_ul ul li h3 span {
	display: block;
}

.team_ul ul li p.team_loc {
	margin:0; padding:0; 
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

.stats_ul .col-md-3 {
	position: relative;
	padding: 50px;
}

.stats_ul .col-md-3.littlebit_down {
	margin-top: 60px;
}

.stats_ul .maindiv {
	background-image: -webkit-linear-gradient(top, #fff 0, #bcf4df 100%);
    background-image: -moz-linear-gradient(top, #fff 0, #bcf4df 100%);
    background-image: -o-linear-gradient(top, #fff 0, #bcf4df 100%);
    background-image: linear-gradient(to bottom, #fff 0, #bcf4df 100%);
    padding: 10px;
}

.stats_ul .col-md-3 h1 {
	font-size:70px;
	padding:0;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	text-align: right;
	margin-right: -26px !important;
	color: #001839;
	font-weight: 600;
}

.margin00 {
	margin:0 0 60px;
}


.margin002 {
	margin:0 0 20px;
}

.statsweareproudof .margin0 {
	margin:0 0 100px;
}

.statsweareproudof .margin11 {
	margin:0 0 150px;
}

.stats_ul .col-md-3 p {
	margin:0; padding:0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 20px;
}

.stats_ul .col-md-3 p span {
	display: block;
}

#testimonials .item {
	padding:20px;
}

.testi {
	background:url(../images/quotes222.png) no-repeat #fff;
	background-position: calc(20px) center;
	border: 1px solid #eee;
	padding:20px;
	padding-left: 100px;
}

.author {
	padding:20px;
}

.author h3 {
	font-size: 15px;
	color: #000;
	font-weight: bold;
	padding-left: 25px;
}

.othersayings .col-md-4{
	padding: 0;
}

.othersayings img {
	width: 75%;
}

.author h3 span {
	display: block;
	font-size: 13px;
	color: #777;
	margin-top: 6px;
	font-weight: normal;
}

#testimonials ul.slick-dots li button {
	padding: 5px !important;
	box-shadow: none !important;
}

#testimonials ul.slick-dots li button, #testimonials ul.slick-dots li button::before {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background: #efefef !important;
    margin:0 1px !important;
}

#testimonials ul.slick-dots li.slick-active button, #testimonials ul.slick-dots li.slick-active button::before {
	background: #31d093 !important;
}

.blogposts {
	background: #f1f1f1;
}

.blogposts h2.title {
	color: #000;
}

.news .col-md-4 {
	position: relative;
	line-height: 25px;
}

.news .col-md-4 .maindiv {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.news .col-md-4 .bgimage {
	height: 300px;
	position: relative;
}

.news .col-md-4 ul.social_icns {
	list-style: none;
	margin:0; padding:0;
	text-align: center !important;
	position: absolute;
	bottom: 20px; left: 0;
	width: 100%;
	opacity: 0;
}

.news .col-md-4:hover ul.social_icns {
	opacity: 1;
}

.news .col-md-4 ul.social_icns li {
	position: relative;
	display: inline-block;
	float: none;
	margin: 2px;
	width: auto !important;
	padding:0 !important;
}

.news .col-md-4 ul.social_icns li a {
	display: block;
	width:30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border:1px solid;
}

.news .col-md-4 ul.social_icns li a:hover {
	background: #31d093;
	border: 1px solid #31d093;
}

.news .col-md-4 a {
	color: #000;
	font-weight: bold;
}

.news .col-md-4 .fa-long-arrow-right {
	padding-left: 5px;
	color: #31d093;
	font-size: 14px;
}

.news .col-md-4 h3 {
	margin:0 0 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
}

.news .col-md-4 h3 span {
	display: block;
}

.news .col-md-4 div.whitebg {
	background: #fff; padding:20px;
}

ul.slick-dots {
    clear: both !important;
    position: relative !important;
    text-align: center !important;
    margin: 0 auto;
    width: auto !important;
}

ul.slick-dots li {
    width: auto !important;
    padding: 0 !important;
    float: none !important;
    display: inline-block !important;
	box-shadow: none !important;
}

ul.slick-dots li button {
	padding: 0 !important;
	box-shadow: none !important;
}

ul.slick-dots li button, ul.slick-dots li button::before {
    width: 80px !important;
    content: '' !important;
    height: 4px !important;
    background: #fff !important;
    margin:0 3px;
}

ul.slick-dots li.slick-active button, ul.slick-dots li.slick-active button::before {
	background: #31d093 !important;
}


.redbg {
	background: #31d093;
	color: #fff;
}

.redbg h2.title {
	color: #fff !important;
}

.whitebtn {
	display: inline-block;
}

.whitebtn button {
	background: #fff !important;
	color: #000 !important;
	font-weight: bold;
}

.wearehere {
	position: relative;
	padding:50px 0;
}

.wearehere::before {
	position: absolute;
	content: "";
	top: 0; left: 0;
	width:100%; height: 100%;
	background: rgba(255,255,255,0.7);
}

.wearehere .section {
	position: relative;
	z-index: 999;
	font-weight: bold;
}

.wearehere .section img {
	width: 35px;
}

.wearehere .section p {
	color: #001839;
}

.pointer {
	margin:20px auto;
}

.six_social_boxes .col-md-2 {
	position: relative;
	color: #fff;
	line-height:normal;
	padding:10px;
}

.six_social_boxes .col-md-2 a.outer {
	border:1px solid #fff;
	padding:15px;
	text-align: center;
	display: block;
	color: #fff !important;
	text-decoration: none !important;
}

.six_social_boxes .col-md-2 .fa {
	display: block;
	font-size: 18px;
	margin:0 0 10px;
}

.copyright {
	font-weight: bold;
}


/**footer style**/
.footer {
    background: #333333;
	color:#ffffff;
	padding:20px 0;
}



/* Center the loader */
#loader_div {
	background: #fff;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #31d093;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}




/**media queries**/
@media (max-width: 1024px) {
	.logodiv {
		width: auto !important;
	}
	
	.header, header.fixed {
		padding:0 0 5px;
	}
	
	header.fixed .logo {
		margin-top: 0;
	}
	
	.logo {
		font-size: 20px;
	}
	nav ul li {
		margin:0 10px;
	}
	
	h3.toggle {
		display:block;
	}
	.topmenu {
		display: none;
		width:100%;
		float:none;
		clear:both;
		background: #000;
		padding: 20px 40px;
		top:10px;
		text-align:left !important;
	}
	.dropdown-content {
		top:auto !important;
		-webkit-transform: translateY(0px) !important;
		-ms-transform: translateY(0px) !important;
		transform: translateY(0px) !important;
		width:100% !important;
		box-shadow: none !important;
		background: none !important;
		border-top: 1px solid #eee !important;
	}
	.dropdown:hover .dropdown-content {
		position:relative !important;
	}
	.dropdown-content a {
		width:100% !important;
		text-align:left !important;
		color: #fff !important;
		padding: 5px 0 !important;
		border-bottom: 1px solid #eee !important;
	}
	
	header.fixed .topmenu ul li a {
		color: #fff;
	}
	
	header.fixed h3.toggle {
		color: #000;
	}
	
	h3.toggle {
		color: #fff;
		top: 10px;
	}
	
	.logo {
		margin-top: 0%;
		height: 30px;
	}
	
	.dropdown-content a:last-child {
		border-bottom:none !important;
	}
	.dropdown-content a:hover { background: none !important; }
	.topmenu ul {
		text-align:center !important;
	}
	.topmenu ul li {
		display: block;
		margin-left:0 !important;
		text-align:left !important;
		border-bottom: 1px solid #eee;
	}
	.topmenu ul li:last-child {
		border-bottom: none;
	}
	.topmenu ul li a {
		position:relative;
	}
	.topmenu ul li:last-child button {
		width: 100% !important;
	}
	.topmenu ul li a {
		padding: 5px 0;
	}
	.dropdown {
		height: auto;
		display:block;
	}
	.dropbtn::after, .dropbtn:hover::after {
		position: absolute;
		right: 0;
		top: 25%;
		content: "\203A";
		color:inherit !important;
	}
	.submenuactive {
		background: #000;
	}
	/*.opensidemenu {
		display: inline-block;
	}*/
	.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
		padding:0 20px !important;
	}
	
	.landingimage h1.bigtitle {
		font-size: 60px;
	}
	.news .col-md-4 h3 {
		font-size: 20px;
	}
}

@media (max-width: 800px) {
	.header {
		text-align: center;
	}
	.tpmenu {
		display: none;
	}
	.opensidemenu {
		display: block !important;
	}
	.landingimage h1.bigtitle {
		font-size: 40px;
		margin-top: 20px !important;
	}
	.landingimage .title-2 h1 {
		font-size: 30px;
		margin-top: -10px;
	}
	.services .col-md-4 {
		float: left !important;
		width: 33.33% !important;
		padding: 50px 20px;
	}
	.services .col-md-4 img {
		height: 70px;
	}
	.services .col-md-4 h3 {
		font-size: 17px;
	}
	.stats_ul .col-md-3 {
		float: left !important; 
		width: 50% !important;
	}
	.trustedby_clients .col-md-3 {
		float: left !important;
		width: 33.33% !important;
	}
	.portoflio_items ul li {
		width: 50%;
	}
	.team_ul ul li {
		width: 33.33%;
		margin-top: 60px;
	}
	.team_ul ul li.littlebit_down {
	    margin-top: auto;
	    margin-bottom: 60px;
	}
	.stats_ul .col-md-3.littlebit_down {
		margin-top: 38px;
	}
	.six_social_boxes .col-md-2 {
		float: left !important;
		width: 33.33% !important;
	}
}

@media (max-width: 668px) {
	.letstalk_button {
		display:none !important;
	}
}

@media (max-width: 570px) {
	.services .col-md-4, .stats_ul .col-md-3, .trustedby_clients .col-md-3 {
		float: none !important;
		width: auto !important;
	}
	.sidenav {
	    width: 70%;
		left: 0%;
	}
	.sidenav.toggle {
		left: 0;
	}
	
	.logo img {
    	height: 30px;
	}

}

@media (max-width: 480px) {
	.landingimage h1.bigtitle {
		font-size: 22px;
		margin-top: 10px !important;
	}
	.landingimage .title-2 h1 {
		font-size: 15px;
		margin-top: -10px;
	}
	h2.title {
	    font-size: 20px;
	}
}

@media (max-width: 414px) {
	.portoflio_items ul li {
		width: auto;
		float: none;
		display: block;
	}
	.team_ul ul li {
		display: block;
		float: none;
		width: auto;
		margin-top: auto;
	}
	.team_ul ul li.littlebit_down {
	    margin-top: auto;
	    margin-bottom: auto;
	}
	.stats_ul .col-md-3.littlebit_down {
		margin-top: auto;
		display: block;
		float: none;
		width: auto;
	}
	.six_social_boxes .col-md-2 {
		width: 50% !important;
	}
	
}



/* Media query 

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.tpmenu {
		display: none;
	}
	.opensidemenu {
		display: block !important;
	}
	
	.letstalk_button {
		display: none;
	}
	
	.header.fixed {
		height: 60px;
	}
	
	.logo {
		height: 36px;
		margin-top: 0%;
	}
	
	.landingimage h1.bigtitle {
		font-size: 40px;
	}
	
	p {
		font-size: 12px;
		line-height: 1.6;
	}
	
	.services .col-md-4 img {
		height: 80px;
	}
	
	.services .col-md-4 h3 {
		font-size: 16px;
	}
	
	.explore_btn button {
		padding: 7px 16px;
		font-size: 12px;
	}
	
	h2.title {
		font-size: 25px;
	}
	
	.aboutus ul.listitem li span.digit {
		width: 35px;
		height: 35px;
		line-height: 27px;
		font-size: 20px;
	}
	
	.aboutus ul.listitem li {
		font-size: 12px;
		margin-bottom: 6px;
	}
	
	ul#filter li {
		font-size: 12px;
	}
	
	.portoflio_items ul li {
		padding: 5px;
	}
	
	.portoflio_items ul li .bgimage {
		height: 175px;
	}
	
	.author h3 span {
		font-size: 12px;
		margin-top: 5px;
	}
	
	.portoflio_items ul li h4 {
		font-size: 14px;
	}
	
	.portoflio_items ul li h4 span {
		font-size: 12px;
	}
	
	.team_ul ul li {
		padding: 5px;
	}
	
	.author h3 {
		font-size: 13px;
		padding-left: 8px;
	} 
	
	.team_ul ul li .bgimage {
		height: 250px;
	}
	
	.team_ul ul li h3 {
		font-size: 14px;
	}
	
	.team_ul ul li p.team_loc {
		font-size: 10px;
	}
	
	.stats_ul .col-md-3 {
		padding: 30px;
	}
	
	.stats_ul .col-md-3 h1 {
		font-size: 50px;
	}
	
	.stats_ul .col-md-3 p {
		line-height: 14px;
		font-size: 12px;
	}
	
	.trustedby_clients .col-md-3 img {
		height: 50px;
	}
	
	.news .col-md-4 ul.social_icns li a {
		width: 25px;
		height: 25px;
		line-height: 25px;

	}
	
	.news .col-md-4 h3 {
		font-size: 15px;
	}
	
	.news .col-md-4 .bgimage {
		height: 250px;
	}
	
	.news .col-md-4 a {
		font-size: 15px;
	}
	
	 .wearehere .section p {
		font-size: 12px;
	}
	
	.six_social_boxes .col-md-2 a.outer {
		padding: 5px;
	}
	
	.copyright {
		font-size: 12px;
	}
}

@media only screen 
and (max-device-width : 767px) {
	.tpmenu {
		display: none;
	}
	.opensidemenu {
		display: block !important;
	}
	
	.letstalk_button {
		display: none;
	}
	
	.header.fixed {
		height: 55px;
	}
	
	.logo {
		height: 28px;
		margin-top: 0%;
	}
	
	.landingimage h1.bigtitle {
		font-size: 30px;
	}
	
	p {
		font-size: 11px;
		line-height: 1.6;
	}
	
	.services .col-md-4 img {
		height: 70px;
	}
	
	.services .col-md-4 h3 {
		font-size: 14px;
	}
	
	.explore_btn button {
		padding: 5px 12px;
		font-size: 11px;
	}
	
	h2.title {
		font-size: 20px;
	}
	
	.aboutus ul.listitem li span.digit {
		width: 25px;
		height: 25px;
		line-height: 17px;
		font-size: 15px;
	}
	
	.aboutus ul.listitem li {
		font-size: 11px;
		margin-bottom: 2px;
	}
	
	ul#filter li {
		font-size: 10px;
		text-transform: capitalize;
		margin-right: 5px;
	}
	
	.portoflio_items ul li {
		padding: 2px;
	}
	
	.portoflio_items ul li .bgimage {
		height: 125px;
	}
	
	.portoflio_items ul li h4 {
		font-size: 12px;
	}
	
	.portoflio_items ul li h4 span {
		font-size: 11px;
	}
	
	.portoflio_items ul li, .team_ul ul li {
		width: 50%;
	}
	
	.team_ul ul li {
		padding: 2px;
	}
	
	.team_ul ul li .bgimage {
		height: 200px;
	}
	
	.team_ul ul li h3 {
		font-size: 12px;
	}
	
	.team_ul ul li p.team_loc {
		font-size: 9px;
	}
	
	.stats_ul .col-md-3 {
		padding: 30px;
	}
	
	.stats_ul .col-md-3 h1 {
		font-size: 40px;
	}
	
	.stats_ul .col-md-3 p {
		line-height: 12px;
		font-size: 11px;
	}
	
	.trustedby_clients .col-md-3 img {
		height: 55px;
	}
	
	.testi {
		padding: 10px;
		font-size: 12px;
		padding-left: 100px;
		line-height: 1.6;
	}
	
	.author h3 {
		font-size: 12px;
		padding-left: 5px;
	}
	.news .col-md-4 h3 {
		font-size: 13px;
	}
	
	.author h3 span {
		font-size: 11px;
		margin-top: 4px;
	}
	
	.news .col-md-4 .bgimage {
		height: 200px;
	}
	
	
	.news .col-md-4 .fa-long-arrow-right {
		font-size: 12px;
	}
	
	.wearehere .section p {
		font-size: 11px;
	}
	
	.news .col-md-4 ul.social_icns li a {
		width: 20px;
		height: 20px;
		line-height: 20px;

	}
	
	.six_social_boxes .col-md-2 a.outer {
		padding: 5px;
	}
	
	.copyright {
		font-size: 11px;
	}
}

*/