@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900');

body {
	font-family: 'Raleway', sans-serif;
}

.header00 {
	background: #000; 
	height: 400px;
}

.header {
	position:absolute;
	padding: 0px 0;
	width:100%;
	top:0;
	z-index:99990;
}

header.fixed {
	padding:0;
	position: fixed;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	height: 70px;
}


header.fixed .logo {
	background-image: url('../images/logo-b.png');
	color: #000;
	margin-top: 9%;
}

.header .row {
	padding:0;
}

.header .container-fluid {
	width: 98%;
} 

.logo {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	background-image: url(../images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 32px;
	margin-top: 9%;
}


.topmenu ul {
	list-style: none;
	margin:0; padding:0;
	text-align: right;
}

.topmenu ul li {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-left: 20px;
}

.topmenu ul li:first-child {
	margin-left: 0;
}

.topmenu ul li a {
	display: block;
	padding: 18px 0;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 2px;
}

header.fixed .topmenu ul li a {
	color: #373737;
	padding: 10px 0;
}

.topmenu ul li button .fa {
	margin-left: 4px;
	font-size: 12px;
}

.letstalkk  {
	background: #7274a2;
	color:#ffffff;
	border: 2px solid #7274a2;
	border-radius: 30px;
	padding:14px 35px;
	text-transform: uppercase;
	cursor:pointer;
}

.letstalkk , .letstalkk:hover {
	padding: 11px 35px;
	transition:none;
}

.letstalkk button .fa, .letstalkk button:hover .fa {
	transition:none;
}


.toppadding {
	padding-top: 50px;
}

h3.toggle {
	margin: 0;
    padding: 0;
    position: fixed;
    top: 16px;
    right: 20px;
    font-size: 20px;
	display:none;
	cursor:pointer;
}

.megamenu {
	width: 1280px;
	left: -600px;
}

.megamenu .col-md-3 {
	border-left: 1px solid #9395981a;
	padding: 0px;
}


.megamenu a {
	width: 100% !important;
	
}

.megamenu a:hover {
	width: 100% !important;
}


/*
========================================================================
# 1.0 - navbar hover
------------------------------------------------------------------------
*/


.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 50px; 
}

.dropdown-content {
    opacity:0;
    position: absolute;
    background-color: #fff;
    border-top: 3px solid #7274a2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 70px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    visibility: hidden;
}

header.fixed .dropdown-content {
    top: 56px;
}

.dropdown:hover .dropbtn {
	color: #7274a2;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 200px;
}

.dropdown-content a:hover {background-color: #f1f1f1;
	padding-left: 18px !important;
	width: 100%;
}

.dropdown:hover .dropdown-content {
    opacity:1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
   
}

.progress-layout {
	text-align: center;
	margin-top: 15%;
}

.progress-layout h2 {
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 37px;
}

.progress-layout-link {
	background: transparent;
}

.progress-layout-link li a {
	color: #fff !important;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}


.section {
	padding-bottom: 2.5%;
	padding-top: 2%;
}


.section .container {
	width: 73%;
}

.section2 .container {
	width: 71%;
}

.section3 .container {
	width: 71%;
}


.section5 .container {
	width: 71%;
}



.section h2,.section2 h2, .section3 h2 {
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	color: #000;
}



.basic-bar {
	height: 5px;
	margin-bottom: 10px;
	background-color: #ddd;
	border-radius: 0px;
}

.bar330 {
	border-radius: 0px;
}

.tooltip{ 
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {background-color: #000; padding:2px 10px; color:#fff; font-weight:bold; font-size:12px;}
.popOver + .tooltip > .tooltip-arrow {	border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #000;}


.progressText {
	font-size: 11px;
}

.bar222{
  border-radius:0;
  overflow:visible;
  height: 5px;
}
.progress-bar{
   background:#31d093; 
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}


.bar33 {
	background: #31d093;
}

.bar33 span {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}

.progress-bar-striped, .progress-
striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}


.percentage00 {
	color: #31d093;
	float: right;
}


.section3 .tooltip{ 
  position:relative;
  float:right;
}

.section3 .tooltip > .tooltip-inner {background-color: #000; padding:2px 10px; color:#fff; font-weight:bold; font-size:12px;}
.section3 .popOver2 +  .tooltip >  .tooltip-arrow {	border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #000;}


.section3 .progressText {
	font-size: 11px;
}

.section3 .bar222{
  border-radius:0;
  overflow:visible;
  height: 5px;
}
.section3 .progress-bar{
   background:#31d093; 
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}



/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #000; font-size: 12px; margin-bottom: 3px; margin-top: -4px; font-weight: bold; text-transform: uppercase;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #31d093; top: 24px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%; text-align: center; font-weight: bold; color: #fff; font-size: 20px;} 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #31d093;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}

.bs-wizard > .bs-wizard-step:last-child .bs-wizard-stepnum {
	color: #ddd;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 8%; width:50%; border-radius: 4px 4px 4px 4px;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {border-radius: 0px 4px 4px 0px; }
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard .col-xs-2 {
	width: 20%;
}
/*END Form Wizard*/



.stepwizard-step4 p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

.stepwizard-step4:last-child p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ddd;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

.stepwizard-row4 {
    display: table-row;
}

.stepwizard4 {
    display: table;     
    width: 114%;
    position: relative;
    margin-top: -3%;
    margin-bottom: 3%;
    bottom: 25px;
}



.bar444 {
	background: #31d093;
	
}

.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 50px 50px;

}

.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}


.progress324 {
	height: 8px;
	margin-top: 25px;
	overflow: visible;
	margin-bottom: 8%;

}

.section5  h2{
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 2%;
}

.stepwizard-step4 button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}



.stepwizard-step4 {    
    display: table-cell;
    text-align: center;
    position: relative;
}


.stepwizard4 .btn-circle33 {
	color: #fff;
	background-color: #31d093;
	border-color: #31d093;
	border-radius: 50px;
  	font-weight: bold;
  	 width: 30px;
 	 height: 30px;
  	font-size: 20px;
  	line-height: 0;
  	padding: 6px 0px;
  	margin-top: 39px;
}

.stepwizard4 .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 20px;
  line-height: 0;
  border-radius: 50px;
  font-weight: bold;
  background: #31d093;
  color: #fff;
  border-color: #31d093;
  margin-top: 39px;
}


.footer {
	background: #000000;
	padding: 4%;
}

.footer-p {
	color: #fff;
    padding-top: 8%;
    padding-bottom: 2.8%;
    line-height: 1.9;
    font-size: 13px;
}

.social-icons {
	color: #fff;
}

.social-icons i:hover {
	color: #cca876;
	cursor: pointer;
}

.social-icons i:first-child {
	padding-left: 0px;
}

.social-icons i {
	padding-left: 10px;
	padding-right: 10px;
}

.contact-footer h4 {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.contact-footer {
	color: #fff;
	position: relative;
    bottom: 8px;
}

.contact-footer li {
	font-size: 13px;
	padding-top: 9px;
}

.contact-footer i {
	padding-right: 10px;
}

.links-footer {
	color: #fff;
	position: relative;
    bottom: 9px;
}

.links-footer li{
	font-size: 13px;
	padding-top: 14px;
}

.links-footer h4 {
	font-size: 14px;
	font-weight: 600;
}

.new-york {
	position: relative;
    left: 27px;
    font-size: 13px;
    top: 5px;
}

.email-span {
	position: relative;
    top: 5px;
}

.sub-footer {
	border-top: 2px solid #4a90e2;
    background: #000000;
    padding: 8%;
    padding-top: 1.5%;
	padding-bottom: 0.7%;
}

.copyrights {
	color: #fff;
	font-size: 13px;
	position: relative;
	left: 17%;
}

.privacy {
	color: #fff;
    position: relative;
    bottom: 7px;
    font-size: 13px;
    float: right;
    left: 3%;
}
.privacy span {
	position: relative;
    left: 4%;
}


/* Media query */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	.container {
		width: 100%;
	}
	.header00 {
		height: auto;
	}
	.logodiv {
		width: auto !important;
	}
	
	.logo {
		margin-top: 2%;
		height: 25px;
	}
	
	header.fixed .logo {
		margin-top: 2%;
	}
	
	.header, header.fixed {
		padding:0 0 10px;
		height: 55px;
	}
	
	.header {
		line-height:30px;
		border: 0;
	}
	
	header.fixed h3.toggle {
		color: #000;
	}
	
	h3.toggle {
		display:block;
		top: 10px;
		color: #fff;
	}
	.topmenu {
		display: none;
		width:100%;
		float:none;
		clear:both;
		background: #fff;
		padding: 20px 40px;
		top:10px;
		text-align:left !important;
	}
	.dropdown-content {
		top:auto !important;
		-webkit-transform: translateY(0px) !important;
		-ms-transform: translateY(0px) !important;
		transform: translateY(0px) !important;
		width:100% !important;
		box-shadow: none !important;
		background: none !important;
		border-top: 1px solid #eee !important;
	}
	.dropdown:hover .dropdown-content {
		position:relative !important;
	}
	.dropdown-content a {
		width:100% !important;
		text-align:left !important;
		border-bottom: 1px solid #eee !important;
	}
	.dropdown-content a:last-child {
		border-bottom:none !important;
	}
	.dropdown-content a:hover { background: none !important; }
	.topmenu ul {
		text-align:center !important;
	}
	.topmenu ul li {
		display: block;
		margin-left:0 !important;
		text-align:left !important;
		border-bottom: 1px solid #eee;
	}
	.topmenu ul li:last-child {
		border-bottom: none;
	}
	.topmenu ul li a {
		position:relative;
		color: #000 !important;
		padding: 6px 0;
	}
	
	.dropdown-content a {
		padding: 6px 0px !important;
	}
	.topmenu ul li:last-child button {
		width: 100% !important;
	}
	.topmenu ul li a:hover, .dropdown:hover .dropbtn {
		color:#000 !important;
	}
	.dropdown {
		height: auto;
		display:block;
	}
	.dropbtn::after, .dropbtn:hover::after {
		position: absolute;
		right: 0;
		top: 25%;
		content: "\203A";
		color:inherit !important;
	}
	.submenuactive {
		background: transparent;
	}
	
	.progress-layout  h2 {
		font-size: 25px;
	}
	
	.progress-layout-link li a {
		font-size: 10px;
	}
	
	.section .container, .section2 .container, .section3 .container, .section5 .container  {
		width: 77%;
	}
	
	.section h2, .section2 h2, .section3 h2, .section4 h2, .section5 h2 {
		font-size: 20px;
	}
	
	.bar33 span {
		font-size: 10px;
	}
	
	.tooltip > .tooltip-inner, .section3 .tooltip > .tooltip-inner {
		font-size: 10px;
		padding: 1px 5px;
	}
	
	.progress-circle {
		font-size: 24px;
	}
	
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
		width: 25px;
		height: 25px;
	}
	
	.stepwizard4 .btn-circle, .stepwizard4 .btn-circle33 {
		width: 25px;
		height: 25px;
		font-size: 15px;
		margin-top: 28px;
	}
	
	.stepwizard-step4:last-child p {
		font-size: 10px;
	}
	
	.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
		font-size: 10px;
	}
	
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
		font-size: 15px;
	}
	
	.progressText, .section3 .progressText {
		font-size: 10px;
	}
	
	.footer-img {
		width: 100px;
	}
	
	.footer-p {
		line-height: 1.5;
		font-size: 10px;
	}
	
	.social-icons i {
		padding-left: 7px;
		padding-right: 7px;
	}
	
	.contact-footer h4, .links-footer h4 {
		font-size: 12px;
	}
	
	.contact-footer li {
		font-size: 10px;
		padding-top: 8px;
	}
	
	.new-york {
		left: 19px;
		font-size: 10px;
		top: 0px;
	}
	
	.contact-footer i {
		padding-right: 6px;
	}
	
	.email-span {
		top: 3px;
	}
	
	.links-footer li {
		font-size: 10px;
		padding-top: 9px;
	}
	
	.copyrights {
		font-size: 10px;
		left: 12%;
	}
	
	.privacy {
		font-size: 10px;
		left: 11%;
		right: 0px;
	}
}
	

@media only screen 
and (max-device-width : 767px) {
	
	.header00 {
		height: auto;
	}
		
		
	.logodiv {
		width: auto !important;
	}
	
	.logo {
		margin-top: 5%;
		height: 25px;
	}
	
	header.fixed .logo {
		margin-top: 5%;
	}
	
	.header, header.fixed {
		padding:0 0 10px;
		height: 55px;
	}
	
	.header {
		line-height:30px;
		border: 0;
	}
	
	header.fixed h3.toggle {
		color: #000;
	}
	
	h3.toggle {
		display:block;
		top: 10px;
		color: #fff;
	}
	.topmenu {
		display: none;
		width:100%;
		float:none;
		clear:both;
		background: #fff;
		padding: 20px 40px;
		top:10px;
		text-align:left !important;
	}
	.dropdown-content {
		top:auto !important;
		-webkit-transform: translateY(0px) !important;
		-ms-transform: translateY(0px) !important;
		transform: translateY(0px) !important;
		width:100% !important;
		box-shadow: none !important;
		background: none !important;
		border-top: 1px solid #eee !important;
	}
	.dropdown:hover .dropdown-content {
		position:relative !important;
	}
	.dropdown-content a {
		width:100% !important;
		text-align:left !important;
		border-bottom: 1px solid #eee !important;
	}
	.dropdown-content a:last-child {
		border-bottom:none !important;
	}
	.dropdown-content a:hover { background: none !important; }
	.topmenu ul {
		text-align:center !important;
	}
	.topmenu ul li {
		display: block;
		margin-left:0 !important;
		text-align:left !important;
		border-bottom: 1px solid #eee;
	}
	.topmenu ul li:last-child {
		border-bottom: none;
	}
	.topmenu ul li a {
		position:relative;
		padding: 6px 0;
		color: #000 !important;
	}
	
	.dropdown-content a {
		padding: 6px 0px !important;
	}
	.topmenu ul li:last-child button {
		width: 100% !important;
	}
	.topmenu ul li a:hover, .dropdown:hover .dropbtn {
		color:#000 !important;
	}
	.dropdown {
		height: auto;
	}
		display:block;
		position: absolute;
	.dropbtn::after, .dropbtn:hover::after {
		right: 0;
		top: 25%;
		content: "\203A";
		color:inherit !important;
	}
	.submenuactive {
		background: transparent;
	}
	
	.progress-layout  h2 {
		font-size: 20px;
	}
	
	.progress-layout-link li a {
		font-size: 9px;
	}
	
	.section .container, .section2 .container, .section3 .container, .section5 .container  {
		width: 95%;
	}
	
	.section h2, .section2 h2, .section3 h2, .section4 h2, .section5 h2 {
		font-size: 15px;
	}
	
	.bar33 span {
		font-size: 9px;
	}
	
	.tooltip > .tooltip-inner, .section3 .tooltip > .tooltip-inner {
		font-size: 9px;
		padding: 1px 5px;
	}
	
	.progress-circle {
		font-size: 22px;
	}
	
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
		width: 24px;
		height: 24px;
	}
	
	.stepwizard4 .btn-circle, .stepwizard4 .btn-circle33 {
		width: 24px;
		height: 24px;
		font-size: 14px;
		margin-top: 25px;
	}
	
	.stepwizard-step4:last-child p {
		font-size: 9px;
	}
	
	.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
		font-size: 9px;
	}
	
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
		font-size: 14px;
	}
	
	.progressText, .section3 .progressText {
		font-size: 9px;
	}
	
	.footer-img {
		width: 75px;
	}
	
	.footer-p {
		font-size: 8px;
		line-height: 1.5;
	}
	
	.social-icons i {
		padding-left: 4px;
		padding-right: 4px;
	}
	
	.contact-footer h4, .links-footer h4 {
		font-size: 10px;
	}
	
	.contact-footer li {
		font-size: 9px;
		padding-top: 6px;
	}
	
	.new-york {
		left: 21px;
		font-size: 9px;
		top: 0px;
	}
	
	.footer-content {
		left : 0;
	}
	
	.links-footer li {
		font-size: 9px;
		padding-top: 6px;
	}
	
	.footer-section {
		right: 0;
	}
	
	.copyrights {
		font-size: 8px;
		left: -15px;
	}
	
	.footer-content1 {
		left: 0px;
	}
	
	.privacy {
		right: 0%;
		font-size: 8px;
	}
}