@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900');

body {
	font-family: 'Raleway', sans-serif;
}

.header00 {
	background: #000; 
	height: 400px;
}

.header {
	position:absolute;
	padding: 0px 0;
	width:100%;
	top:0;
	z-index:99990;
}

header.fixed {
	padding:0;
	position: fixed;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	height: 70px;
}


header.fixed .logo {
	background-image: url('../images/logo-b.png');
	color: #000;
	margin-top: 9%;
}

.header .row {
	padding:0;
}

.header .container-fluid {
	width: 98%;
} 

.logo {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	background-image: url(../images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 32px;
	margin-top: 9%;
}


.topmenu ul {
	list-style: none;
	margin:0; padding:0;
	text-align: right;
}

.topmenu ul li {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-left: 20px;
}

.topmenu ul li:first-child {
	margin-left: 0;
}

.topmenu ul li a {
	display: block;
	padding: 18px 0;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 2px;
}

header.fixed .topmenu ul li a {
	color: #373737;
	padding: 10px 0;
}

.topmenu ul li button .fa {
	margin-left: 4px;
	font-size: 12px;
}

.letstalkk  {
	background: #7274a2;
	color:#ffffff;
	border: 2px solid #7274a2;
	border-radius: 30px;
	padding:14px 35px;
	text-transform: uppercase;
	cursor:pointer;
}

.letstalkk , .letstalkk:hover {
	padding: 11px 35px;
	transition:none;
}

.letstalkk button .fa, .letstalkk button:hover .fa {
	transition:none;
}


.toppadding {
	padding-top: 50px;
}

h3.toggle {
	margin: 0;
    padding: 0;
    position: fixed;
    top: 16px;
    right: 20px;
    font-size: 20px;
	display:none;
	cursor:pointer;
}

.megamenu {
	width: 1280px;
	left: -600px;
}

.megamenu .col-md-3 {
	border-left: 1px solid #9395981a;
	padding: 0px;
}


.megamenu a {
	width: 100% !important;
	
}

.megamenu a:hover {
	width: 100% !important;
}

/*
========================================================================
# 1.0 - navbar hover
------------------------------------------------------------------------
*/


.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 50px; 
}

.dropdown-content {
    opacity:0;
    position: absolute;
    background-color: #fff;
    border-top: 3px solid #7274a2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 70px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    visibility: hidden;
}

header.fixed .dropdown-content {
    top: 56px;
}

.dropdown:hover .dropbtn {
	color: #7274a2;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 200px;
}

.dropdown-content a:hover {background-color: #f1f1f1;
	padding-left: 18px !important;
	width: 100%;
}

.dropdown:hover .dropdown-content {
    opacity:1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
   
}

.service {
	text-align: center;
	margin-top: 15%;
}

.service h2 {
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 37px;
}

.service-link {
	background: transparent;
}

.service-link li a {
	color: #fff !important;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}


.section {
	padding-top: 2%;
	padding-bottom: 3%;
	background: #f1f1f1;
}

.section1 {
	background-image: url("../images/section-image_servicev2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center; 
	height: 500px;
}

.core {
	text-align: center;
}

.core h2 {
	color: #000;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 25px;
}

.core:after {
	border-bottom: 2px solid #4a90e2;
	content: "";
    display: inline-block;
    position: relative;
    bottom: 0px;
    right: 3px;
    width: 30px;
}


.block-content {
	text-align: center;
	padding-top: 4%;
	position: relative;
	left: 4%;
}

.icon-round {
	width: 80px;
	height: 80px;
	display: block;
	border: 1px solid #000;
	border-radius: 50px;
	position: relative;
	left: 35%;
}

.icon-round i {
	font-size: 25px;
	padding-top: 20px;

}

.block {
	width: 100%;
	height: 200px;
	border: 1px solid #ddd;
	background: #fff;
}

.block:hover .icon-round {
	border-color: transparent; 
} 

.block:hover i {
	color: #fff;
}




.block:hover {
	background: #000;
	cursor: pointer;
}



.block:hover h4 {
	color: #fff
}

.block:hover p {
	color: #fff
}

.block h4 {
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

.block p {
	font-size: 12px;
	color: #000;
}

.block-sub-content {
	padding-top: 4%;
}



.block-content1 {
	text-align: center;
	padding-top: 2%;
	position: relative;
	left: 4%;
}

h2.title {
	color: #000;
}

.title-p {
	width: 50%;
	font-size: 13px;
	padding-top: 2%;
	padding-bottom: 3%;
	text-align: center;
	display: inline-block;
}

.four-columns p {
	font-size: 13px;
}


.howwework  {
	padding-bottom: 3%;
	padding-top: 2%;
}

.footer {
	background: #000000;
	padding: 4%;
}

.footer-p {
	color: #fff;
    padding-top: 8%;
    padding-bottom: 2.8%;
    line-height: 1.9;
    font-size: 13px;
}

.social-icons {
	color: #fff;
}

.social-icons i:hover {
	color: #cca876;
	cursor: pointer;
}

.social-icons i:first-child {
	padding-left: 0px;
}

.social-icons i {
	padding-left: 10px;
	padding-right: 10px;
}

.contact-footer h4 {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.contact-footer {
	color: #fff;
	position: relative;
    bottom: 8px;
}

.contact-footer li {
	font-size: 13px;
	padding-top: 9px;
}

.contact-footer i {
	padding-right: 10px;
}

.links-footer {
	color: #fff;
	position: relative;
    bottom: 9px;
}

.links-footer li{
	font-size: 13px;
	padding-top: 14px;
}

.links-footer h4 {
	font-size: 14px;
	font-weight: 600;
}

.new-york {
	position: relative;
    left: 27px;
    font-size: 13px;
    top: 5px;
}

.email-span {
	position: relative;
    top: 5px;
}

.sub-footer {
	border-top: 2px solid #6b59ef;
    background: #000000;
    padding: 8%;
    padding-top: 1.5%;
	padding-bottom: 0.7%;
}

.copyrights {
	color: #fff;
	font-size: 13px;
	position: relative;
	left: 15%;
}

.privacy {
	color: #fff;
    position: relative;
    bottom: 7px;
    font-size: 13px;
    float: right;
    right: 14.8%;
}
.privacy span {
	position: relative;
    left: 4%;
}

.footer-content {
	position: relative;
	left: 4%;
}

.footer-content1 {
	position: relative;
	left: 3.9%;
}

.footer-section {
	position: relative;
	right: 6%;
}

.section-footer {
	position: relative;
	right: 3%;
}


.four-columns h4 {
	color: #000;
	font-weight: bold;
}



/* Media query */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	.header00 {
		height: auto;
	}
	.logodiv {
		width: auto !important;
	}
	
	.logo {
		margin-top: 2%;
		height: 25px;
	}
	
	header.fixed .logo {
		margin-top: 2%;
	}
	
	.header, header.fixed {
		padding:0 0 10px;
		height: 55px;
	}
	
	.header {
		line-height:30px;
		border: 0;
	}
	
	header.fixed h3.toggle {
		color: #000;
	}
	
	h3.toggle {
		display:block;
		top: 10px;
		color: #fff;
	}
	.topmenu {
		display: none;
		width:100%;
		float:none;
		clear:both;
		background: #fff;
		padding: 20px 40px;
		top:10px;
		text-align:left !important;
	}
	.dropdown-content {
		top:auto !important;
		-webkit-transform: translateY(0px) !important;
		-ms-transform: translateY(0px) !important;
		transform: translateY(0px) !important;
		width:100% !important;
		box-shadow: none !important;
		background: none !important;
		border-top: 1px solid #eee !important;
	}
	.dropdown:hover .dropdown-content {
		position:relative !important;
	}
	.dropdown-content a {
		width:100% !important;
		text-align:left !important;
		border-bottom: 1px solid #eee !important;
	}
	.dropdown-content a:last-child {
		border-bottom:none !important;
	}
	.dropdown-content a:hover { background: none !important; }
	.topmenu ul {
		text-align:center !important;
	}
	.topmenu ul li {
		display: block;
		margin-left:0 !important;
		text-align:left !important;
		border-bottom: 1px solid #eee;
	}
	.topmenu ul li:last-child {
		border-bottom: none;
	}
	.topmenu ul li a {
		position:relative;
		color: #000 !important;
		padding: 6px 0;
	}
	
	.dropdown-content a {
		padding: 6px 0px !important;
	}
	.topmenu ul li:last-child button {
		width: 100% !important;
	}
	.topmenu ul li a:hover, .dropdown:hover .dropbtn {
		color:#000 !important;
	}
	.dropdown {
		height: auto;
		display:block;
	}
	.dropbtn::after, .dropbtn:hover::after {
		position: absolute;
		right: 0;
		top: 25%;
		content: "\203A";
		color:inherit !important;
	}
	.submenuactive {
		background: transparent;
	}
	
	.service h2 {
		font-size: 25px;
	}
	
	.service-link li a {
		font-size: 10px;
	}
	
	.core h2 {
		font-size: 15px;
	}
	
	.core::after {
		width: 25px;
	}
	
	.icon-round {
		width: 60px;
		height: 60px;
		position: relative;
		left: 27%;
	}
	
	.icon-round i {
		font-size: 20px;
		padding-top: 17px;
	}
	
	.block h4 {
		font-size: 13px;
	}
	
	.block p {
		font-size: 10px;
	}
	
	.block {
		height: 175px;
	}
	
	h2.title {
		font-size: 15px;
	}
	
	.section1 {
		height: 300px;
	}
	
	.title-p {
		width: 65%;
		font-size: 12px;
	}
	
	.four-columns h4 {
		font-size: 13px;
	}
	
	.four-columns p {
		font-size: 12px;
	}
	
	.footer-img {
		width: 100px;
	}
	
	.footer-p {
		line-height: 1.5;
		font-size: 10px;
	}
	
	.social-icons i {
		padding-left: 7px;
		padding-right: 7px;
	}
	
	.contact-footer h4, .links-footer h4 {
		font-size: 12px;
	}
	
	.contact-footer li {
		font-size: 10px;
		padding-top: 8px;
	}
	
	.new-york {
		left: 19px;
		font-size: 10px;
		top: 0px;
	}
	
	.contact-footer i {
		padding-right: 6px;
	}
	
	.email-span {
		top: 3px;
	}
	
	.links-footer li {
		font-size: 10px;
		padding-top: 9px;
	}
	
	.copyrights {
		font-size: 10px;
		left: 12%;
	}
	
	.privacy {
		right: 12%;
		font-size: 10px;
	}
}

@media only screen 
and (max-device-width : 767px) {
	
	.header00 {
		height: auto;
	}
	.logodiv {
		width: auto !important;
	}
	
	.logo {
		margin-top: 5%;
		height: 25px;
	}
	
	header.fixed .logo {
		margin-top: 5%;
	}
	
	.header, header.fixed {
		padding:0 0 10px;
		height: 55px;
	}
	
	.header {
		line-height:30px;
		border: 0;
	}
	
	header.fixed h3.toggle {
		color: #000;
	}
	
	h3.toggle {
		display:block;
		top: 10px;
		color: #fff;
	}
	.topmenu {
		display: none;
		width:100%;
		float:none;
		clear:both;
		background: #fff;
		padding: 20px 40px;
		top:10px;
		text-align:left !important;
	}
	.dropdown-content {
		top:auto !important;
		-webkit-transform: translateY(0px) !important;
		-ms-transform: translateY(0px) !important;
		transform: translateY(0px) !important;
		width:100% !important;
		box-shadow: none !important;
		background: none !important;
		border-top: 1px solid #eee !important;
	}
	.dropdown:hover .dropdown-content {
		position:relative !important;
	}
	.dropdown-content a {
		width:100% !important;
		text-align:left !important;
		border-bottom: 1px solid #eee !important;
	}
	.dropdown-content a:last-child {
		border-bottom:none !important;
	}
	.dropdown-content a:hover { background: none !important; }
	.topmenu ul {
		text-align:center !important;
	}
	.topmenu ul li {
		display: block;
		margin-left:0 !important;
		text-align:left !important;
		border-bottom: 1px solid #eee;
	}
	.topmenu ul li:last-child {
		border-bottom: none;
	}
	.topmenu ul li a {
		position:relative;
		color: #000 !important;
		padding: 6px 0;
	}
	
	.dropdown-content a {
		padding: 6px 0px !important;
	}
	.topmenu ul li:last-child button {
		width: 100% !important;
	}
	.topmenu ul li a:hover, .dropdown:hover .dropbtn {
		color:#000 !important;
	}
	.dropdown {
		height: auto;
		display:block;
	}
	.dropbtn::after, .dropbtn:hover::after {
		position: absolute;
		right: 0;
		top: 25%;
		content: "\203A";
		color:inherit !important;
	}
	.submenuactive {
		background: transparent;
	}
	
	.about h2 {
		font-size: 20px;
	}
	
	.about-link li a {
		font-size: 8px;
	}
	
	.core h2 {
		font-size: 12px;
	}
	
	.core::after {
		width: 20px;
	}
	
	.block-content, .block-content1 {
		left: 0px;
	}
	
	.icon-round {
	    width: 60px;
	    height: 60px;
	    left: 40%;
    }
    
    .block h4 {
		font-size: 12px;
	}
	
	.block p {
		font-size: 10px;
	}
	
	.block {
		height: 165px;
		margin-bottom: 10px;
	}
	
	.block:hover:none {
		
	}
	
	.icon-round i {
			font-size: 20px;
			padding-top: 16px;
	}
    
    h2.title {
		font-size: 15px;
	}
	
	.section1 {
		height: 250px;
	}
	
	.title-p {
		width: 80%;
		font-size: 10px;
	}
	
	.four-columns h4 {
		font-size: 14px;
	}
	
	.four-columns p {
		font-size: 10px;
	}
	
	.footer-img {
		width: 75px;
	}
	
	.footer-p {
		font-size: 8px;
		line-height: 1.5;
	}
	
	.social-icons i {
		padding-left: 4px;
		padding-right: 4px;
	}
	
	.contact-footer h4, .links-footer h4 {
		font-size: 10px;
	}
	
	.contact-footer li {
		font-size: 9px;
		padding-top: 6px;
	}
	
	.new-york {
		left: 21px;
		font-size: 9px;
		top: 0px;
	}
	
	.footer-content {
		left : 0;
	}
	
	.links-footer li {
		font-size: 9px;
		padding-top: 6px;
	}
	
	.footer-section {
		right: 0;
	}
	
	.copyrights {
		font-size: 8px;
		left: -12px;
	}
	
	.footer-content1 {
		left: 0px;
	}
	
	.privacy {
		right: 6%;
		font-size: 8px;
	}
}