/*
========================================================================
# General section styles
------------------------------------------------------------------------
*/

@charset "utf-8";

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  transition:all .2s ease;
  outline: none !important;
}

::-moz-selection {
    color: #ffffff;
    background: #4a90e2;
}

::selection {
    color: #ffffff;
    background: #4a90e2;
}

body {
  margin:0; padding:0;
  font-family: 'Raleway', sans-serif;
  line-height:30px;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	line-height:normal;
}

.primary {
  color: #4a90e2;
}

.primarybg {
  background-color: #4a90e2;
}

a {
	color:#4a90e2;
	text-decoration:none;
}

p {
	margin:0 0 24px;
}

p:last-child {
	margin:0;
}

input, 
select, 
textarea {
	color:inherit;
	padding:10px;
	font-family:inherit;
	border: 1px solid #ddd;
}

button,
input[type="submit"] {
	background: #4a90e2;
	color:#fff;
	border: 2px solid #4a90e2;
	border-radius: 20px;
	padding:8px 25px;
	text-transform: uppercase;
	cursor:pointer;
}

button:hover,
input[type="submit"]:hover {
	background: none;
	color: #4a90e2;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.col10 {
  width: 9%;
}

.col15 {
	width:14%;
}

.col20 {
  width: 19%;
}

.col25 {
	width: 25%;
}

.col30 {
  width: 29%;
}

.col33 {
	width: 33.33%;
}

.col40 {
  width: 39%;
}

.col50 {
  width: 49%;
}

.col55 {
	width: 55%;
}

.col60 {
  width: 59%;
}

.col70 {
  width: 69%;
}

.col75 {
	width:74%;
}

.col80 {
  width: 79%;
}

.col90 {
  width: 89%;
}

img {
	max-width:100%;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.container {
	max-width: 1240px;
	margin:0 auto;
	padding:0 20px;
}

.container-fluid {
	padding:0 20px;
}

.inline-block {
	display:inline-block;
}

.marginauto {
	margin:0 auto;
}

.section {
	padding:70px 0;
}

h2.title {
	color: #000;
	font-size: 35px;
	margin:0 0 30px;
}

h2.title::after {
	position: relative;
	display: block;
	width: 30px;
	margin: 15px auto 0;
	content: "";
	height: 4px;
	background: #4a90e2;
}

h2.title.withnolines::after {
	display: none;
}

h2.title span {
	display: block;
}


/*
========================================================================
# 2 - Header styles
------------------------------------------------------------------------
*/
.header {
	position:absolute;
	line-height:40px;
	padding:15px 0;
	font-size:14px;
	width:100%;
	top:0;
	z-index:99999;
}

header.fixed {
	position: fixed;
	background: #fff;
	border-bottom: 1px solid #eee;
}

.logo {
	display:inline-block;
	vertical-align:middle;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	background-image: url(../images/logo_w.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 45px;
}

header.fixed .logo {
	color: #000;
	background-image: url(../images/logo.png);
}

.topmenu ul {
	list-style: none;
	margin:0; padding:0;
	text-align: right;
}

.topmenu ul li {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-left: 25px;
}

.topmenu ul li:first-child {
	margin-left: 0;
}

.topmenu ul li a {
	display: block;
	padding:4px 0;
	color: #fff;
	font-weight: bold;
}

header.fixed .topmenu ul li a {
	color: #000;
}

.topmenu ul li button {
	padding:10px 15px !important;
	background: none;
	color: #fff;
}

header.fixed .topmenu ul li button {
	color: #000;
}

.topmenu ul li button:hover {
	background: #4a90e2;
	color: #fff !important;
}

.topmenu ul li button .fa {
	margin-left: 4px;
}


/*
========================================================================
# Banner section styles
------------------------------------------------------------------------
*/
.bgimage {
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.slider {
	width: 100%;
	overflow: hidden;
	position: relative;
	color: #fff;
}

.dark-translucent-bg {
	position: absolute !important;
	width: 100% !important; height: 100% !important;
	left: 0 !important; top: 0 !important;
	content: "";
	background: rgba(0,0,0,0.3) !important;
}

.landingimage h1.bigtitle {
	margin:0 0 40px;
	padding: 0;
	font-size:55px;
	color: #fff;
	font-weight: normal;
}

.landingimage h1.bigtitle span {
	display:block;
}

.landingimage .description {
	margin-bottom:80px;
}



/*
========================================================================
# About Us section styles
------------------------------------------------------------------------
*/
.aboutus { 
}

.aboutus h3 {
	font-size: 30px;
	margin:0 0 20px;
}

.aboutus h3 span {
	display: block;
}

.aboutus h3 span.subtitle {
	display: block;
	font-size: 18px;
	margin-bottom: 20px;
}

.aboutimg {
	height: 400px;
} 



/*
========================================================================
# what we are section styles
------------------------------------------------------------------------
*/
.whatweare {
	position: relative;
}

.whatweare::after {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: #f3f3f3;
	content: "";
}

.whatweare .container {
	position: relative;
	z-index: 99;
}

.leftimage .bgimage {
	background-color: #d5d5d5;
	background-size:contain; 
	height: 140px;
	margin-bottom: 20px;
}

.skills_col {
	border:1px solid #ddd; 
}

.skills_col ul {
	list-style: none;
	margin:0; padding:0;
}

.skills_col ul li {
	position: relative;
	display: block;
	padding:10px;
	border-bottom: 1px solid #ddd;
}

.skills_col ul li:last-child {
	border-bottom: none;
}

.skills_col ul li .col70 {
	position: relative;
}

.skills_col ul li .bar {
	display: block;
    height: 10px;
    background: #4a90e2;
    border-radius: 10px;
    margin-top: 8px;
}

.skills_col ul li .bar::before {
	background: #d5d5d5;
    display: block;
    height: 10px;
    border-radius: 10px;
    width: 100%;
    content: "";
    position: absolute;
    z-index: -1;
}



/*
========================================================================
# Stats section styles
------------------------------------------------------------------------
*/
.stats {
	position: relative;
}

.stats::before {
	position: absolute;
	top: 0; left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(83, 147, 219, .8);
}

.stats .container {
	position: relative;
	z-index: 999;
}

.stats .icon_img {
	width: 130px;
	height: 130px;
	line-height: 175px;
	text-align: center;
	border-radius: 100%;
	border: 3px solid #fff;
	display: block;
	margin:0 auto 20px;
}

.stats .icon_img img {
	height: 70px;
}

.stats h3 {
	color: white;
	margin:20px auto 0; padding:0;
	text-align: center;
	font-size: 30px;
}

.stats h3 span {
	display: block;
	font-weight: normal;
	font-size: 17px;
	text-transform: uppercase; 
	margin-top: 10px;
}

.stats h3 span::before {
	position: relative;
	display: block;
	content: "";
	width: 30px;
	height: 2px;
	background: #fff;
	margin:0 auto 10px;
}



/*
========================================================================
# Services section styles
------------------------------------------------------------------------
*/
.services ul {
	list-style: none;
	margin:0; padding:0;
}

.services ul li {
	position: relative;
	float: left;
	width: 33.33%;
	padding:20px 50px;
}

.services ul li img {
	height: 60px;
}

.services ul li h3 {
	margin: 20px auto;
	text-align: center;
}

.services ul li p {
	margin:0;
}

.services button {
	padding:20px 50px;
	text-transform: capitalize;
	border-radius: 50px;
}



/*
========================================================================
# Latest projects section styles
------------------------------------------------------------------------
*/
.latestprojects {
	background: #f3f3f3;
}

.portoflio_items {
	margin:40px 0 0;
}

.portoflio_items ul {
	list-style: none;
	margin:0; padding:0;
}

.portoflio_items ul li {
	position: relative;
	float: left;
	width: 33.33%;
	padding:20px;
}

.portoflio_items ul li .bgimage {
	width: 100%;
	height: 300px;
	background-size: cover;
	position: relative;
}

.portoflio_items ul li:hover .bgimage::before {
	position: absolute;
	content: "";
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.4);
}

.portoflio_items ul li h4 {
	margin:20px 10px;
	padding:0;
	color: #000 !important;
	font-size: 16px;
}

.portoflio_items ul li h4 span {
	display: block;
	color: #aaa !important;
	font-size: 14px;
	margin-top: 3px;
	font-weight: normal;
}

ul#filter { 
  list-style: none;
  margin:0 0 30px; padding:0;
  text-align: center;
}

ul#filter li { 
	display: inline-block;
	position: relative;
	margin-right: 30px;
	font-weight: bold;
	float: none;
	width: auto;
	padding:0;
	text-transform: uppercase;
	color: #4a90e2;
}

ul#filter li:last-child { 
	margin-right: 0; 
}

ul#filter a { 
	display: block; 
	color: #333; 
	border-top:1px solid transparent; 
	padding:5px 0; 
}

ul#filter li.current a, ul#filter a:hover { 
	color: #4a90e2; 
	border-top:1px solid #4a90e2; 
}

ul#filter li.current a { 
	color: #4a90e2; 
}



/*
========================================================================
# Our Service section styles
------------------------------------------------------------------------
*/
.ourservices .col33 {
	padding:20px;
}

.ourservices .bgimage {
	height: 250px;
}


/*
========================================================================
# what others say section styles
------------------------------------------------------------------------
*/
.whatotherssay {
	position: relative;
	color: white;
}

.whatotherssay::before {
	position: absolute;
	top: 0; left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(83, 147, 219, .8);
}

.whatotherssay .container {
	position: relative;
	z-index: 999;
}

.whatotherssay .item {
	color: rgba(255,255,255,0.7);
	margin:20px;
	opacity: 0.7;
}

.whatotherssay .item.slick-current {
	opacity: 1;
}

.whatotherssay h2.title {
	color: white;
}

.whatotherssay h2.title::after {
	background: #fff;
}

.whatotherssay .circle_img {
	width: 100px;
	height: 100px;
	margin: 0 auto 20px;
	display: block;
	border-radius: 100%;
}

.whatotherssay p {
	margin:0 0 15px;
}

.whatotherssay p.author {
	color: white;
}

.whatotherssay p.author span {
	display: block;
	color: rgba(255,255,255,0.7);
}


/*
========================================================================
# Team section styles
------------------------------------------------------------------------
*/
.clientss {
	background: #f3f3f3;
}
.clientss h3 {
	font-weight: 600;
	font-size: 25px;
}

.clientss ul {
	list-style: none;
	margin: 0; padding:0;
}

.clientss ul li {
	position: relative;
	display: block;
	float: left;
	width:25%;
	padding:20px;
}

.clientss ul li .bgimage {
	height: 80px;
	background-size: contain;
}



/*
========================================================================
# Team section styles
------------------------------------------------------------------------
*/
.team_ul {
	margin:40px 0 0;
}

.team_ul ul {
	list-style: none;
	margin: 0; padding: 0;
}

.team_ul ul li {
	position: relative;
	float: left;
	width: 33.33%;
	padding: 20px;
	font-size: 13px;
	line-height: 20px;
}

.team_ul ul li .bgimage {
	height: 500px;
	background-size: contain;
	background-position:top center;
	overflow: hidden;
	position: relative;
}

.team_ul ul li .cntentt {
	position: absolute;
	bottom: 0;
	text-align: left;
	padding:30px;
	background: #4a90e2;
	color: #fff;
	opacity: 0;
	transition: all .2s;
}

.team_ul ul li:hover .cntentt {
	opacity: 1;
}

.team_ul ul li h3 {
	margin: 0; padding:0;
	color: #fff;
}

.team_ul ul li p.designation {
	margin:4px 0 15px;
	color: #fff;
}

.team_ul ul li p.about {
	color: #fff; 
	margin:0 auto;
}

.team_ul ul.social_icons{
	margin:10px 0 0;
}

.team_ul ul.social_icons li {
	float: none;
	width: auto;
	display: inline-block;
	margin:0;
	margin-right: 5px;
	padding:0;
}

.team_ul ul.social_icons li:last-child {
	margin-right: 0;
}

.team_ul ul.social_icons li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.team_ul ul.social_icons li a:hover {
	color: #fff;
}


/*
========================================================================
# Blog section styles
------------------------------------------------------------------------
*/
.blog {
	background: #f3f3f3;
}

.blog ul {
	list-style: none;
	margin:0; padding:0;
}

.blog ul li {
	position: relative;
	float: left; width: 25%;
	padding:20px;
}

.blog ul li .cntnt {
	padding: 100px 20px 20px;
	color: white;
	background: rgba(0,0,0,0.5);
	line-height: 25px;
}

.blog ul li .cntnt h3 {
	color: white;
}

.blog ul li a, .blog ul li a:hover {
	color: #fff;
}

.blog button {
	padding:12px 30px;
}

.authorname {
	margin-top: 12px;
	clear: both;
}

.authorname .bgimage {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}




/*
========================================================================
# Subscribe Now section styles
------------------------------------------------------------------------
*/
.subscribeform {
	background: #f3f3f3;
	border-radius: 50px;
	display: block;
	margin: 0 auto 20px;
}

.subscribeform input {
	float: left;
	width: 70%;
	padding:12px 18px;
	line-height: normal;
	font-size: 15px;
}

.subscribeform input[type="text"] {
	background: none;
	border: none;
}

.subscribeform input[type="submit"] {
	width: 30%;
	float: right;
	text-transform: capitalize;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


/*
========================================================================
# Contact section styles
------------------------------------------------------------------------
*/
.contact {
	background-image: -webkit-linear-gradient(left, #ffffff 0, #ffffff 45%, #f3f3f3 45%, #f3f3f3 100%);
    background-image: -moz-linear-gradient(left, #ffffff 0, #ffffff 45%, #f3f3f3 45%, #f3f3f3 100%);
    background-image: -o-linear-gradient(left, #ffffff 0, #ffffff 45%, #f3f3f3 45%, #f3f3f3 100%);
    background-image: linear-gradient(to right, #ffffff 0, #ffffff 45%, #f3f3f3 45%, #f3f3f3 100%);
    position: relative;
}

.contact iframe {
	position: absolute;
	height: 100%;
	top: 0; left: 0;
	width: 45%;
}

.contact .contactsection {
	padding:50px;
}

.contact h2.title {
	font-size: 25px;margin:0 0 20px;
}

.contact h2.title::after {
	margin:20px 0 0;
}

.contact h2.title span {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}

.marginnone {
	margin: 0;
}

.form {
	margin:40px 0 0;
}

.form p {
	margin:0 0 15px; padding:0;
}

.form p input, .form p textarea {
	width: 100%;
	padding:12px;
	border: none;
}

.form p textarea {
	height: 200px;
}

.form input[type="submit"] {
	width: auto;
	padding:12px 30px;
	font-weight: bold;
	text-transform: capitalize;
}  



/*
========================================================================
# Footer section styles
------------------------------------------------------------------------
*/
.footer {
    background: #000000;
	color:#ffffff;
	padding:25px 0;
}

.footer .container {
	padding:0;
}

.widget {
	padding:20px;
	float: left;
	line-height: 26px;
}

.widget h3 {
	font-size: 19px;
	display: block;
	margin:0 0 20px;
	text-transform: uppercase;
	color: white;
	font-weight: normal;
}

.widget h3 a {
	color: white;
}

.widget h3.sitelogo {
	font-size: 25px;
	font-weight: bold;
}

.listingul ul {
	list-style: none;
	margin:0; padding:0;
}

.listingul ul li {
	position: relative;
	display: block;
	margin:0 0 10px;
}

.listingul ul li a {
	display: block;
	color: #fff;
}

.listingul ul li a:hover {
	color: #ffcc12;
}

.listingul ul li:last-child {
	margin:0;
}

.listingul ul li .fa {
	font-size: 16px;
}

ul.social_links {
	list-style: none;
	margin:0; padding:0;
}

ul.social_links li  {
	position: relative;
	display: inline-block;
	margin-right: 15px;
}

ul.social_links li:last-child {
	margin-right: 0;
}

ul.social_links li a {
	display: block;
	color: white;
	font-size: 18px;
}

ul.social_links li a:hover {
	color: #ffcc12;
}

.siteinfo {
    background: #000000;
	color:#ffffff;
	padding:25px 0;
	border-top: 1px solid #4a90e2;
}

.siteinfo ul {
	list-style: none;
	margin:0; padding:0;
}

.siteinfo ul  li {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.siteinfo ul li:first-child {
	margin-left: 0;
}

.siteinfo ul li a {
	display: block;
	color: white;
}

.siteinfo ul li a:hover {
	color: #ffcc12;
}

.copyright p {
	margin:0; padding:0;
}



/*
========================================================================
# Preloader styles
------------------------------------------------------------------------
*/
#loader_div {
	background: #fff;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4a90e2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}



/*
========================================================================
# Media Queries
------------------------------------------------------------------------
*/
