@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900');


body {
	font-family: 'Raleway', sans-serif;
	background-image: url("../images/header.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.image {
	text-align: center;
	margin-top: 5%;
}

.img-logo {
	width: 20%;
}

.section h1 {
	font-weight: 400;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-top: 5%;
}

.section h5 {
	color: #fff;
	font-size: 25px;
	text-align: center;
	padding-bottom: 5%;
	
}


#demo {
	color: #fff;
	font-weight: bold;
	font-size: 25px;
	text-transform: capitalize;
}


#demo .days , #demo .hours , #demo .min ,#demo .sec {
		float: left;
		width:130px;
		font-weight:bold;
		font-size:45px;
		border: 1px solid #fff;
		text-align: center;
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin:0 12px; 
		line-height: 75px;
		position: relative;
		left: 2%;
}
		#demo .days ,#demo .min { 
		color:#fff;
}
		#demo div div{ 
		font-size:20px; 
		font-weight:bold; 
}





/* Media query */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.section h1 {
		font-size: 40px;
	}
	
	.section h5 {
		font-size: 15px;
	}
	.fa-links li {
		font-size: 18px;
		width: 40px;
		height: 40px;
		line-height: 38px;
	}
}

@media only screen 
and (max-device-width : 767px) {

	.img-logo {
		width: 40%;
	}
	
	.section h1 {
		font-size: 20px;
	}
	
	.section h5 {
		font-size: 15px;
	}
	
	


#demo .days , #demo .hours , #demo .min ,#demo .sec {
		margin:10px 12px;
		line-height: 40px;
}
		#demo .days ,#demo .min { 
		color:#fff;
}
		#demo div div{ 
		font-size:10px; 
		font-weight:bold; 
}
}