@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900');

body {
	font-family: 'Raleway', sans-serif;
}

.header00 {
	background: #000; 
	height: 400px;
}

.header {
	position:absolute;
	padding: 0px 0;
	width:100%;
	top:0;
	z-index:99990;
}

header.fixed {
	padding:0;
	position: fixed;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	height: 70px;
}


header.fixed .logo {
	background-image: url('../images/logo-b.png');
	color: #000;
	margin-top: 9%;
}

.header .row {
	padding:0;
}

.header .container-fluid {
	width: 98%;
} 

.logo {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	background-image: url(../images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 32px;
	margin-top: 9%;
}


.topmenu ul {
	list-style: none;
	margin:0; padding:0;
	text-align: right;
}

.topmenu ul li {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-left: 20px;
}

.topmenu ul li:first-child {
	margin-left: 0;
}

.topmenu ul li a {
	display: block;
	padding: 18px 0;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 2px;
}

header.fixed .topmenu ul li a {
	color: #373737;
	padding: 10px 0;
}

.topmenu ul li button .fa {
	margin-left: 4px;
	font-size: 12px;
}

.letstalkk  {
	background: #7274a2;
	color:#ffffff;
	border: 2px solid #7274a2;
	border-radius: 30px;
	padding:14px 35px;
	text-transform: uppercase;
	cursor:pointer;
}

.letstalkk , .letstalkk:hover {
	padding: 11px 35px;
	transition:none;
}

.letstalkk button .fa, .letstalkk button:hover .fa {
	transition:none;
}


.toppadding {
	padding-top: 50px;
}

h3.toggle {
	margin: 0;
    padding: 0;
    position: fixed;
    top: 16px;
    right: 20px;
    font-size: 20px;
	display:none;
	cursor:pointer;
}

.megamenu {
	width: 1280px;
	left: -600px;
}

.megamenu .col-md-3 {
	border-left: 1px solid #9395981a;
	padding: 0px;
}


.megamenu a {
	width: 100% !important;
	
}

.megamenu a:hover {
	width: 100% !important;
}


/*
========================================================================
# 1.0 - navbar hover
------------------------------------------------------------------------
*/


.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 50px; 
}

.dropdown-content {
    opacity:0;
    position: absolute;
    background-color: #fff;
    border-top: 3px solid #7274a2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 70px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    visibility: hidden;
}

header.fixed .dropdown-content {
    top: 56px;
}

.dropdown:hover .dropbtn {
	color: #7274a2;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 200px;
}

.dropdown-content a:hover {background-color: #f1f1f1;
	padding-left: 18px !important;
	width: 100%;
}

.dropdown:hover .dropdown-content {
    opacity:1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    visibility: visible;
   
}

.contact {
	text-align: center;
	margin-top: 15%;
}

.contact h2 {
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 37px;
}

.contact-link {
	background: transparent;
}

.contact-link li a {
	color: #fff !important;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

.form p textarea {
    height: 100px;
}

.form p input, .form p textarea {
    box-shadow: none !important;
    border-radius: 2px;
}


.form p {
    margin: 0 0 20px;
    padding: 0;
}


.form input[type="submit"] {
    width: 100%;
    padding: 12px 10px !important;
    font-weight: bold;
    text-transform: capitalize;
    background: #000;
	color: #fff;
	border: 1px solid #000;
	text-transform: uppercase;
	font-weight: 300;
}

.section {
	padding-top: 3%;
	background: #5c3eae;
	padding-bottom: 2%;
}

input::placeholder {
  color: #e7e7e7;
}

.section h4 {
	text-transform: uppercase;
	color: #fff;
	font-size: 27px;
	text-align: center;
	padding-bottom: 2%;
}

.map {
	position: relative;
	top: 1px;
}


.images img {
	position: absolute;
	top: 29%;
	right: 47%;
	width: 6%;
}

.cities {
	text-align: center;
	padding: 15px;
}
.cities h3{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
}

.cities p {
	font-size: 13px;
	padding: 0px 29px;
}

.fon-about li {
	font-size: 11px;
}
.border-right {
	border-right: 1px solid #7274a2;
	padding-top: 5px;
	margin-top: -5px;
}
.footer {
	background: #000000;
	padding: 4%;
}

.footer-p {
	color: #fff;
    padding-top: 8%;
    padding-bottom: 2.8%;
    line-height: 1.9;
    font-size: 13px;
}

.social-icons {
	color: #fff;
}

.social-icons i:hover {
	color: #cca876;
	cursor: pointer;
}

.social-icons i:first-child {
	padding-left: 0px;
}

.social-icons i {
	padding-left: 10px;
	padding-right: 10px;
}

.contact-footer h4 {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.contact-footer {
	color: #fff;
	position: relative;
    bottom: 8px;
}

.contact-footer li {
	font-size: 13px;
	padding-top: 9px;
}

.contact-footer i {
	padding-right: 10px;
}

.links-footer {
	color: #fff;
	position: relative;
    bottom: 9px;
}

.links-footer li{
	font-size: 13px;
	padding-top: 14px;
}

.links-footer h4 {
	font-size: 14px;
	font-weight: 600;
}

.new-york {
	position: relative;
    left: 27px;
    font-size: 13px;
    top: 5px;
}

.email-span {
	position: relative;
    top: 5px;
}

.sub-footer {
	border-top: 2px solid #4a90e2;
    background: #000000;
    padding: 8%;
    padding-top: 1.5%;
	padding-bottom: 0.7%;
}

.copyrights {
	color: #fff;
	font-size: 13px;
	position: relative;
	left: 17%;
}

.privacy {
	color: #fff;
    position: relative;
    bottom: 7px;
    font-size: 13px;
    float: right;
    left: 3%;
}
.privacy span {
	position: relative;
    left: 4%;
}



/* Media query */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	.container {
		width: 100%;
	}
	
	.header00 {
		height: auto;
	}
	
	.logodiv {
		width: auto !important;
	}
	
	.logo {
		margin-top: 2%;
		height: 25px;
	}
	
	header.fixed .logo {
		margin-top: 2%;
	}
	
	.header, header.fixed {
		padding:0 0 10px;
		height: 55px;
	}
	
	.header {
		line-height:30px;
	}
	
	header.fixed h3.toggle {
		color: #000;
	}
	
	h3.toggle {
		display:block;
		top: 10px;
		color: #fff;
	}
	.topmenu {
		display: none;
		width:100%;
		float:none;
		clear:both;
		background: #fff;
		padding: 20px 40px;
		top:10px;
		text-align:left !important;
	}
	.dropdown-content {
		top:auto !important;
		-webkit-transform: translateY(0px) !important;
		-ms-transform: translateY(0px) !important;
		transform: translateY(0px) !important;
		width:100% !important;
		box-shadow: none !important;
		background: none !important;
		border-top: 1px solid #eee !important;
	}
	.dropdown:hover .dropdown-content {
		position:relative !important;
	}
	.dropdown-content a {
		width:100% !important;
		text-align:left !important;
		border-bottom: 1px solid #eee !important;
	}
	.dropdown-content a:last-child {
		border-bottom:none !important;
	}
	.dropdown-content a:hover { background: none !important; }
	.topmenu ul {
		text-align:center !important;
	}
	.topmenu ul li {
		display: block;
		margin-left:0 !important;
		text-align:left !important;
		border-bottom: 1px solid #eee;
	}
	.topmenu ul li:last-child {
		border-bottom: none;
	}
	.topmenu ul li a {
		position:relative;
		color: #000 !important;
		padding: 6px 0;
	}
	
	.dropdown-content a {
		padding: 6px 0px !important;
	}
	.topmenu ul li:last-child button {
		width: 100% !important;
	}
	.topmenu ul li a:hover, .dropdown:hover .dropbtn {
		color:#000 !important;
	}
	.dropdown {
		height: auto;
		display:block;
	}
	.dropbtn::after, .dropbtn:hover::after {
		position: absolute;
		right: 0;
		top: 25%;
		content: "\203A";
		color:inherit !important;
	}
	.submenuactive {
		background: transparent;
	}
	
	.contact h2 {
		font-size: 25px;
	}
	
	.contact-link li a {
		font-size: 10px;
	}
	
	.section h4 {
		font-size: 20px;
	}
	
	.form p input, .form p textarea {
		font-size: 12px;
	}
	
	.form input[type="submit"] {
		padding: 10px !important;
	}
	
	.form p textarea {
		height: 94px;
	}
	
	.form p {
		margin: 0 0 15px;
	}
	
	.cities h3 {
		font-size: 12px;
	}
	
	.cities p {
		font-size: 11px;
	}
	
	.fon-about li {
		font-size: 9px;
	}
	.footer-img {
		width: 100px;
	}
	
	.footer-p {
		line-height: 1.5;
		font-size: 10px;
	}
	
	.social-icons i {
		padding-left: 7px;
		padding-right: 7px;
	}
	
	.contact-footer h4, .links-footer h4 {
		font-size: 12px;
	}
	
	.contact-footer li {
		font-size: 10px;
		padding-top: 8px;
	}
	
	.new-york {
		left: 19px;
		font-size: 10px;
		top: 0px;
	}
	
	.contact-footer i {
		padding-right: 6px;
	}
	
	.email-span {
		top: 3px;
	}
	
	.links-footer li {
		font-size: 10px;
		padding-top: 9px;
	}
	
	.copyrights {
		font-size: 10px;
		left: 12%;
	}
	
	.privacy {
		font-size: 10px;
		left: 11%;
		right: 0px;
	}
}

@media only screen 
and (max-device-width : 767px) {
	
	.header00 {
		height: auto;
	}
	.logodiv {
		width: auto !important;
	}
	
	.logo {
		margin-top: 5%;
		height: 25px;
	}
	
	header.fixed .logo {
		margin-top: 5%;
	}
	
	.header, header.fixed {
		padding:0 0 10px;
		height: 55px;
	}
	
	.header {
		line-height:30px;
		border: 0;
	}
	
	header.fixed h3.toggle {
		color: #000;
	}
	
	h3.toggle {
		display:block;
		top: 10px;
		color: #fff;
	}
	.topmenu {
		display: none;
		width:100%;
		float:none;
		clear:both;
		background: #fff;
		padding: 20px 40px;
		top:10px;
		text-align:left !important;
	}
	.dropdown-content {
		top:auto !important;
		-webkit-transform: translateY(0px) !important;
		-ms-transform: translateY(0px) !important;
		transform: translateY(0px) !important;
		width:100% !important;
		box-shadow: none !important;
		background: none !important;
		border-top: 1px solid #eee !important;
	}
	.dropdown:hover .dropdown-content {
		position:relative !important;
	}
	.dropdown-content a {
		width:100% !important;
		text-align:left !important;
		border-bottom: 1px solid #eee !important;
	}
	.dropdown-content a:last-child {
		border-bottom:none !important;
	}
	.dropdown-content a:hover { background: none !important; }
	.topmenu ul {
		text-align:center !important;
	}
	.topmenu ul li {
		display: block;
		margin-left:0 !important;
		text-align:left !important;
		border-bottom: 1px solid #eee;
	}
	.topmenu ul li:last-child {
		border-bottom: none;
	}
	.topmenu ul li a {
		position:relative;
		color: #000 !important;
		padding: 6px 0;
	}
	
	.dropdown-content a {
		padding: 6px 0px !important;
	}
	.topmenu ul li:last-child button {
		width: 100% !important;
	}
	.topmenu ul li a:hover, .dropdown:hover .dropbtn {
		color:#000 !important;
	}
	.dropdown {
		height: auto;
		display:block;
	}
	.dropbtn::after, .dropbtn:hover::after {
		position: absolute;
		right: 0;
		top: 25%;
		content: "\203A";
		color:inherit !important;
	}
	.submenuactive {
		background: transparent;
	}
	
	.contact h2 {
		font-size: 20px;
	}
	
	.contact-link li a {
		font-size: 8px;
	}
	
	.section h4 {
		font-size: 18px;
	}
	
	.form p input, .form p textarea {
		font-size: 12px;
	}
	
	.form input[type="submit"] {
		padding: 9px 10px !important;
	}
	
	.cities h3 {
		font-size: 11px;
	}
	
	.cities p, .fon-about li {
		font-size: 10px;
	}
	.footer-img {
		width: 75px;
	}
	
	.footer-p {
		font-size: 8px;
		line-height: 1.5;
	}
	
	.social-icons i {
		padding-left: 4px;
		padding-right: 4px;
	}
	
	.contact-footer h4, .links-footer h4 {
		font-size: 10px;
	}
	
	.contact-footer li {
		font-size: 9px;
		padding-top: 6px;
	}
	
	.new-york {
		left: 21px;
		font-size: 9px;
		top: 0px;
	}
	
	.footer-content {
		left : 0;
	}
	
	.links-footer li {
		font-size: 9px;
		padding-top: 6px;
	}
	
	.footer-section {
		right: 0;
	}
	
	.copyrights {
		font-size: 8px;
		left: -15px;
	}
	
	.footer-content1 {
		left: 0px;
	}
	
	.privacy {
		right: 0%;
		font-size: 8px;
	}
}