@charset "utf-8";
/* CSS Document */

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  transition:all .2s ease;
  outline: none !important;
}

::-moz-selection {
    color: #ffffff;
    background: #ffcc12;
}

::selection {
    color: #ffffff;
    background: #ffcc12;
}

body {
  margin:0; padding:0;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height:normal;
}

ul, ol {
	padding: 0;
}

.row {
	margin-top: 12px;
	margin-bottom: 12px;
}

.primary {
  color: #ffcc12;
}

.primarybg {
	background: #ffcc12;
}

a {
	color:#ffcc12;
	text-decoration:none !important;
}

a:hover {
	color: #ffcc12;
}

p {
	margin:0 0 24px;
}

p:last-child {
	margin:0;
}

input, 
select, 
textarea {
	color:inherit;
	padding:10px;
	font-family:inherit;
	border: 1px solid #ddd;
}

button,
input[type="submit"] {
	background: none;
	color:#000;
	border: 2px solid #ffcc12;
	border-radius: 3px;
	padding:8px 25px;
	cursor:pointer;
	font-weight: bold;
	font-size: 12px;
}

img {
	max-width:100%;
}

.inline-block {
	display:inline-block;
}

/**header style**/
.header {
	position:fixed;
	padding:10px 0;
	width:100%;
	top:0;
	z-index:999;
}

.header.fixed {
	background: #fff;
	border-bottom: 1px solid #eee;
}

.logo {
	display:inline-block;
	vertical-align:middle;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
}

.header.fixed .logo {
	color: #000;
	position: relative;
	filter: grayscale(100%) brightness(0%);
}

.logo img {
	display:block;
	height: 38px;
	margin-top: 5%;
}

/**slider style**/
.bgimage {
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}


.bold-txt {
	font-weight: bold;
}

.landingimage {
	padding:170px 0 120px;
	background-position: top center;
	position: relative;
}

.landingimage::before, .dark-translucent-bg {
	position: absolute !important;
	width: 100% !important; height: 100% !important;
	left: 0 !important; top: 0 !important;
	content: "";
}

.landingimage .container {
	position: relative;
}

.landingimage h1.bigtitle {
	margin:0 0 40px;
	padding: 0;
	font-size: 80px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.landingimage h1.bigtitle span {
	display:block;
	color: #ffcc12;
}

.landingimage .title-2 h1 {
	color: #fff;
}

.landingimage .title-2 h1 span {
	display: block;
	color: #ffcc12;
}

.landingimage .description {
	margin-bottom:80px;
}

.landingimage a button {
	color: #fff !important;
}

.landingimage a.white_btn button {
	background: #fff;
	border:2px solid #fff;
	color: #000 !important;
}

.landingimage a:hover button {
	background: transparent;
	border:2px solid #fff;
	color: #fff;
}

.landingimage a.white_btn:hover button {
	border:2px solid #fff;
	background: transparent; 
	color: #fff;
}

.fa.slick-arrow {
    position: absolute;
    z-index: 9999999;
    top: 45%;
    font-size: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    opacity: 0.5;
}

.fa.slick-arrow:hover {
	opacity: 1;
}

.fa.fa-angle-left.slick-arrow {
	left: 20px;
	color: #fff !important;
}

.fa.fa-angle-right.slick-arrow {
	right: 20px;
	color: #fff !important;
}

#mainslider ul.slick-dots {
	position: absolute !important;
    bottom: 15px !important;
    display: block !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    text-align: center !important;
    clear: none !important;
}

#mainslider ul.slick-dots li button {
    border: 2px solid rgba(255,255,255,0.5) !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 100% !important;
    background: none !important;
}

#mainslider ul.slick-dots li button::before {
    width: 14px !important;
    height: 14px !important;
    border-radius: 100% !important;
    background: none !important;
    border: none !important;
}

#mainslider ul.slick-dots li.slick-active button {
	background: none !important;
}

#mainslider ul.slick-dots li.slick-active button::before {
	background: #fff !important;
    width: 7px !important;
    height: 7px !important;
    top: 4px !important;
    left: 4px !important;
}


/**body style**/
h2.title {
	color: #001839;
	font-size: 30px;
	font-weight: bold;
}

h2.title::after {
	position: relative;
	display: block;
	width: 30px;
	margin: 20px auto 0;
	content: "";
	height: 2px;
	background: #ffcc12;
}

h2.title.withnolines::after {
	display: none;
}

.ourservices, .aboutus .section, .whatwedo, .testimonialss, .pricingtables {
	padding-bottom: 4%;
	padding-top: 4%;
}

p {
	font-size: 13px;
	line-height: 1.6;
}

.ourservices {
	background: #f1f1f1;
}

.ourservices .container {
	padding:0;
}

.services .col-md-4 {
	margin:25px auto;
}

.services .col-md-4 .maindiv {
	background: #fff;
	padding:30px 20px;
}

.services .col-md-4:hover .maindiv {
	background: #ffcc12;
	color: #fff;
}



.services .col-md-4 .icn {
	width: 70px;
	height: 70px;
	line-height: 70px;
	border:1px solid #000;
	border-radius: 100%;
	margin:0 auto 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 34px;
}

.services .col-md-4:hover .icn {
	border:1px solid transparent;
}

.services .col-md-4:hover .icn.one {
	background-image: url(../images/service1_hover.png) !important;
}

.services .col-md-4:hover .icn.two {
	background-image: url(../images/service2_hover.png) !important;
}

.services .col-md-4:hover .icn.three {
	background-image: url(../images/service3_hover.png) !important;
}

.services .col-md-4:hover .icn.four {
	background-image: url(../images/service4_hover.png) !important;
}

.services .col-md-4:hover .icn.five {
	background-image: url(../images/service5_hover.png) !important;
}

.services .col-md-4:hover .icn.six {
	background-image: url(../images/service6_hover.png) !important;
}

.services .col-md-4 h3 {
	margin:0 0 15px;
	padding:0;
	font-weight: 600;
	font-size: 20px;
}

.services .col-md-4 p {
	margin:0;
}



.explore_btn button {
	color: #000;
	border:1px solid #ffcc12;
	background:transparent;
	font-weight: bold;
}

.explore_btn button:hover {
	background: #ffcc12;
	color: #fff;
}

.aboutus {
	background: #f1f1f1;
}


.aboutus h2.title::after {
	margin:30px 0 10px;
}

.aboutus ul.listitem {
	margin:0; padding:0; 
	list-style: none;
}

.aboutus ul.listitem li {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.aboutus ul.listitem li span.digit {
	width: 45px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	border:2px solid;
	font-size: 25px;
	margin-right: 10px;
}

.welovemaking {
	padding:10% 0;
	position: relative;
}

.welovemaking::before {
	position: absolute;
	content: "";
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.7);
}

.welovemaking .container {
	position: relative;
	color: #fff;
}

.welovemaking h2 {
	color: #fff !important;
	font-size: 40px;
	margin-top: 2%;
}

.welovemaking h2::after {
	display: none !important;
}

.whitebtn button {
	background: #fff !important;
	color: #000 !important;
	border:2px solid #fff !important;
}

.whitebtn button:hover {
	background: none !important;
	color: #fff !important;
}

ul.features {
	list-style: none;
	margin:0; padding:0;
}

ul.features li {
	position: relative;
	float: left;
	width: 33.33%;
	padding-right: 10px;
}

.four-columns {
	margin: 60px auto;
}

.four-columns ul {
	list-style: none;
	margin:0; padding:0;
}

.four-columns ul li {
	float: left;
	width: 25%;
	padding:40px 30px;
}

.trustedby_clients {
	background: #f3f3f3;
	margin:0 auto;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

.trustedby_clients ul li {
	border:1px solid #ddd;
}

.trustedby_clients ul li:hover {
	background: #ffcc12;
}

.trustedby_clients ul li:hover img {
	filter: brightness(0) invert(1);
}

.four-columns ul li img {
	height: 70px;
}

.four-columns ul li.topzero {
	border-top: 0;
}

.four-columns ul li.bottomzero {
	border-bottom: 0;
}

.four-columns ul li.leftzero {
	border-left: 0;
}

.four-columns ul li.rightzero {
	border-right: 0;
}

.portoflio_items {
	margin:40px 0 0;
}

.portoflio_items ul {
	list-style: none;
	margin:0; padding:0;
}

.portoflio_items ul li {
	position: relative;
	float: left;
	width: 25%;
}

.portoflio_items ul li#bigtile {
	width: 50%;
}

.portoflio_items ul li .bgimage {
	width: 100%;
	height: 350px;
	background-size: cover;
	position: relative;
}

.portoflio_items ul li:hover .bgimage::before {
	position: absolute;
	content: "";
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.4);
}

.portoflio_items ul li h4 {
	margin:20px 10px;
	padding:0;
	color: #000 !important;
	font-size: 16px;
}

.portoflio_items ul li h4 span {
	display: block;
	color: #aaa !important;
	font-size: 14px;
	margin-top: 3px;
	font-weight: normal;
}

ul#filter { 
  list-style: none;
  margin:0; padding:0;
  text-align: center;
}
ul#filter li { 
	display: inline-block;
	position: relative;
	margin-right: 30px;
	font-weight: bold;
	float: none;
	width: auto;
	padding:0;
	text-transform: uppercase;
	color: #ffcc12;
}
ul#filter li:last-child { margin-right: 0; }
ul#filter a { display: block; color: #333; border-top:1px solid transparent; padding:5px 0; }
ul#filter li.current a, ul#filter a:hover { color: #ffcc12; border-top:1px solid #ffcc12; }
ul#filter li.current a { color: #ffcc12; }

.team_ul {
	margin:40px 0 0;
}

.team_ul ul {
	list-style: none;
	margin: 0; padding: 0;
}

.team_ul ul li {
	position: relative;
	float: left;
	width: 25%;
	padding: 20px;
	font-size: 13px;
	line-height: 20px;
}

.team_ul ul li .bgimage {
	height: 300px;
	background-position: top center;
	margin:0 0 10px;
}

.team_ul ul li h3 {
	margin:15px 0 0; padding:0;
	color: #001839;
}

.team_ul ul li p.designation {
	margin:0 0 15px;
	color: #555;
}

.team_ul ul li p.about {
	color: #001839;
}

.team_ul ul.social_icons{
	margin:10px 0 0;
}

.team_ul ul.social_icons li {
	float: none;
	width: auto;
	display: inline-block;
	margin:0 5px;
	padding:0;
}

.team_ul ul.social_icons li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #000;
	font-size: 18px;
}

.team_ul ul.social_icons li a:hover {
	color: #ffcc12;
}

.statsweareproudof {
	background: #000;
	color: #fff;
	padding:0;
}

.statsweareproudof .container {
	padding:0;
}

.stats_ul ul {
	list-style: none;
	margin:0; padding:0;
}

.stats_ul ul li {
	position: relative;
	float: left;
	width: 25%;
	padding: 50px;
}

.stats_ul ul li h1 {
	font-size:70px;
	margin:0 0 15px;
	padding:0;
	color: #fff;
}

.stats_ul ul li p {
	margin:0; padding:0;
}

.skills .container {
	padding:0;
}

.skills ul {
	list-style: none;
	margin: 0; padding:0;
}

.skills ul li {
	position: relative;
	float: left;
	width: 20%;
	padding:20px;
	text-align: center;
}

.circle {
    width: 200px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}
.circle canvas {
    vertical-align: top;
}
.circle strong {
    position: absolute;
    top: 37%;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 45px;
}
.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}
.circle span {
    display: block;
    color: #aaa;
    margin-top: 15px;
}

.testimonialss .item {
	background: #fff;
	margin: 25px 15px;
	padding: 20px;
	font-size: 12px;
	line-height: 25px;
	border:3px solid transparent;
}

.testimonialss .item img {
	max-width: 100%;
	height: 60px;
}

.testimonialss .item .author {
	color: #ffcc12;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}

.testimonialss .item:hover {
	border:3px solid #ffcc12;
}

#testimonials ul.slick-dots li button {
	padding: 5px !important;
	box-shadow: none !important;
}

#testimonials ul.slick-dots li button, #testimonials ul.slick-dots li button::before {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background: #fff !important;
    margin:0 1px !important;
}

#testimonials ul.slick-dots li.slick-active button, #testimonials ul.slick-dots li.slick-active button::before {
	background: #ffcc12 !important;
}

.news {
	margin:40px auto 0;
}

.news ul {
	list-style: none;
	margin:0; padding:0;
}

.news ul li {
	float: left;
	position: relative;
	width: 33.33%;
	padding:20px;
	line-height: 25px;
	text-align: left;
}

.news ul li .maindiv {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.news ul li .bgimage {
	height: 300px;
	position: relative;
	border-bottom: 5px solid #ffcc12;
}

.news ul ul.social_icns {
	list-style: none;
	margin:0; padding:0;
	text-align: center !important;
	position: absolute;
	bottom: 20px; left: 0;
	width: 100%;
	opacity: 0;
}

.news ul li:hover ul.social_icns {
	opacity: 1;
}

.news ul ul.social_icns li {
	position: relative;
	display: inline-block;
	float: none;
	margin: 2px;
	width: auto !important;
	padding:0 !important;
}

.news ul ul.social_icns li a {
	display: block;
	width:30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border:1px solid;
}

.news ul ul.social_icns li a:hover {
	background: #ffcc12;
	border: 1px solid #ffcc12;
}

.news ul li a {
	color: #000;
}

.news ul li h3 {
	margin:0 0 10px; padding:0;
	line-height: 30px;
}

.news ul h3 span {
	display: block;
}

.news ul li .graycolor {
	color: #ccc;
	margin: 0 0 10px;
}

.news ul li div.whitebg {
	background: #fff; padding:20px;
}

ul.slick-dots {
    clear: both !important;
    position: relative !important;
    text-align: center !important;
    margin: 0 auto;
    width: auto !important;
}

ul.slick-dots li {
    width: auto !important;
    padding: 0 !important;
    float: none !important;
    display: inline-block !important;
	box-shadow: none !important;
}

ul.slick-dots li button {
	padding: 0 !important;
	box-shadow: none !important;
}

ul.slick-dots li button, ul.slick-dots li button::before {
    width: 80px !important;
    content: '' !important;
    height: 4px !important;
    background: #ccc !important;
    margin:0 3px;
}

ul.slick-dots li.slick-active button, ul.slick-dots li.slick-active button::before {
	background: #ffcc12 !important;
}


.redbg {
	background: #ffcc12;
	color: #fff;
}

.redbg h2.title {
	color: #fff !important;
}

.whitebtn {
	display: inline-block;
}

.whitebtn button {
	background: #fff !important;
	color: #000 !important;
	font-weight: bold;
}

.wearehere {
	position: relative;
}

.wearehere::before {
	position: absolute;
	content: "";
	top: 0; left: 0;
	width:100%; height: 100%;
	background: rgba(255,255,255,0.7);
}

.wearehere .section {
	position: relative;
	z-index: 999;
	font-weight: bold;
}

.pointer {
	margin:20px auto;
}


.six_social_boxes ul {
	list-style: none;
	margin:0; padding:0;
}

.six_social_boxes ul li {
	position: relative;
	float: left;
	width: 16.66%;
	padding:10px;
	color: #fff;
	line-height:normal;
}

.six_social_boxes ul li a.outer {
	border:1px solid #fff;
	padding:15px;
	text-align: center;
	display: block;
	color: #fff !important;
	text-decoration: none !important;
}

.six_social_boxes ul li .fa {
	display: block;
	font-size: 18px;
	margin:0 0 10px;
}


/**footer style**/
.footer {
    background: #000000;
	color:#ffffff;
	padding:25px 0;
}

.footer .container {
	padding:0;
}

.footer .col-md-10 {
	font-size: 13px;
}

.widget h3 {
	font-size: 16px;
	display: block;
	margin:0 0 20px;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
}

.widget h3 a {
	color: white;
}

.widget h3.sitelogo {
	font-size: 25px;
	font-weight: bold;
}

.listingul ul {
	list-style: none;
	margin:0; padding:0;
}

.listingul ul li {
	position: relative;
	display: block;
	margin:0 0 10px;
}

.listingul ul li a {
	display: block;
	color: #fff;
	font-size: 13px;
}

.listingul ul li a:hover {
	color: #ffcc12;
}

.listingul ul li:last-child {
	margin:0;
}

.listingul ul li .fa {
	font-size: 16px;
}

ul.social_links {
	list-style: none;
	margin:0; padding:0;
}

ul.social_links li  {
	position: relative;
	display: inline-block;
	margin-right: 15px;
}

ul.social_links li:last-child {
	margin-right: 0;
}

ul.social_links li a {
	display: block;
	color: white;
	font-size: 18px;
}

ul.social_links li a:hover {
	color: #ffcc12;
}

.siteinfo {
    background: #000000;
	color:#ffffff;
	padding:20px 0;
	border-top: 1px solid #ffcc12;
}

.siteinfo ul {
	list-style: none;
	margin:0; padding:0;
}

.siteinfo ul  li {
	position: relative;
	display: inline-block;
	margin-left: 0px;
	margin-right: 30px;
	font-size: 13px;
}



.siteinfo ul li a {
	display: block;
	color: white;
}

.siteinfo ul li a:hover {
	color: #ffcc12;
}

.copyright p {
	margin:0; padding:0;
}

.sidenav {
    height: 100%;
    width: 33%;
    position: fixed;
    z-index: 100000;
    top: 0;
	right: -35%;
    background-color: #3a3838;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav.toggle {
	right: 0;
}

.sidenav ul {
	color:white;
	list-style:none;
	margin:0 0 10px;
	padding:100px 50px 0;
	text-align: center;
}

.sidenav ul li {
	display:block;
	position:relative;
	margin:0;
    color: #fff;
}

.sidenav ul.submenu {
	background:rgba(0,0,0,0.1);
	padding:0; margin:0;
}

.sidenav ul li:last-child {
	border-bottom:none;
}

.sidenav a, .sidenav ul li span.mainitem {
    text-decoration: none;
    display: block;
    transition: 0.3s;
	padding:12px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #949697;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #ffcc12;
}

.closebtn {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 20px;
    z-index: 999;
    padding: 0 !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.opensidemenu {
	position: fixed;
	-moz-user-select: none;
	margin:0 auto; 
    width: 30px;
	font-size: 20px;
	z-index:999999999999;
	cursor: pointer;
	top: 25px;
	right: 20px;
	color: #fff !important;
	display: inline-block;
}

.bar1, .bar2, .bar3 {
    width: 22px;
    height: 2px;
    background-color: #fff;
    margin: 4px auto;
    transition: 0.4s;
}

.header.fixed .opensidemenu {
	background: none !important;
	color: #000 !important;
}

.opensidemenu.fixed .bar1,
.opensidemenu.fixed .bar2, 
.opensidemenu.fixed .bar3 {
    background-color: #000;
}

.opensidemenu.fixed.change .bar1,
.opensidemenu.fixed.change .bar2, 
.opensidemenu.fixed.change .bar3 {
    background-color: #fff;
}

/* Rotate first bar */
.opensidemenu.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px) ;
    transform: rotate(-45deg) translate(-7px, 5px) ;
}

/* Fade out the second bar */
.opensidemenu.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.opensidemenu.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -4px) ;
    transform: rotate(45deg) translate(-6px, -4px) ;
}

.sidenav ul.sc {
	list-style: none;
	margin:0 0 10px; padding:0;
}

.sidenav ul.sc li {
	display: inline-block;
	position: relative;
	margin: 12px;
}

.sidenav ul.sc li a {
	display: block;
	color: white;
	padding: 0;
	font-size: 20px;
}

.sidenav ul.sc li a:hover {
	color: #ffcc12;
}

.sidenav p {
	margin:0;
	text-align: center;
	font-size: 18px;
	color: white;
	font-weight: bold;
}


/* Center the loader */
#loader_div {
	background: #fff;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ffcc12;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}



.whatwedo_ul .col-md-4 {
	position: relative;
	margin: 25px auto;
}

.whatwedo_ul .col-md-4 div.maindiv .content {
	padding:25px;
	background-color: #f1f1f1;
	line-height: 25px;
}

.whatwedo_ul .col-md-4 .bgimage  {
	height: 200px;
	border: 3px solid transparent;
}

.whatwedo_ul .col-md-4:hover .bgimage {
	border: 3px solid #ffcc12;
}

.whatwedo_ul .col-md-4 h3 {
	margin:0 0 0px;
	 padding:0;
	line-height: 15px;
	font-weight: bold;
	font-size: 18px;
}

.whatwedo_ul .col-md-4 h3:after {
	content: " ";
	border-bottom: 2px solid #ffcc12;
	width: 100px;
	display: block;
	margin: 20px auto;
	
}

.whatwedo_ul .col-md-4 span {
	display: block;
}

.whatwedo_ul .col-md-4:hover a button {
	background: #ffcc12;
	color: #fff;
}


.pricingtables .col-md-12 {
	padding: 0;
}

.somelinks ul {
	list-style: none;
	margin:40px 0 0; padding:0;
}

.somelinks ul li {
	margin-left: 10px;
	display: inline-block;
	font-weight: 600;
	font-size: 13px;
}

.somelinks ul li select {
	padding:0;
	border:none;
}

.somelinks ul li:first-child {
	margin-left: 0;
}

.switches {
	position: relative;
	width:22px;
	cursor: pointer;
	top: -6px;
}

.switches::before {
	position: absolute;
	content: "";
	top: 40%;
	background: #eee;
	height: 7px;
	width: 23px;
	margin: 0;
	left: 0;
}

label.switch {
    position: absolute;
    z-index: 99;
    border-radius: 100%;
    background: #eee;
    top: 0px;
    cursor: pointer;
    transition: all .2s;
    width: 7px;
    height: 7px;
}

label.switch input {
	margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    display: none;
}

label.switch.checked {
	background: #ffcc12;
    transition: all .2s;
    width: 10px;
    height: 10px;
    top: -2px;
} 

.pricing_ul .col-md-3 {
	position: relative;
	margin:10px auto;
	padding: 0;
}

.pricing_ul .col-md-3 .mostpopular {
	margin:0; padding:10px;
	color: #ffcc12;
	font-size: 12px;
}

.pricing_ul .col-md-3 .maindiv {
	border:1px solid #eee;
}

.pricing_ul .col-md-3 h3.package_name {
	padding: 10px 20px;
	font-size:14px;
	text-transform: uppercase;
	margin:0;
	font-weight: 600;
}

.pricing_ul .col-md-3 h2.price {
	margin:0 0 20px; padding:0;
}

.pricing_ul .col-md-3 h2.price i {
	font-size: 40px;
	font-style: normal;
	margin-left: 5px;
	margin-right: -20px;
}

.pricing_ul .col-md-3 h2.price span {
	font-size: 20px;
	margin:0 10px;
}

.pricing_ul .col-md-3 h2.price span span {
	margin:0;
}

.package_ul ul {
	list-style: none;
	margin:0; padding:20px 0 0;
	text-align: center;
	border-top: 1px solid #eee;
}

.package_ul ul li {
	position: relative;
	display: block;
	float: none;
	width: auto;
	padding: 8px 15px;
}

.package_ul ul li:last-child {
	padding:20px;
	text-align: center;
}

.package_ul ul li a:hover button {
	background: #ffcc12;
	color: #fff;
}

.pricing_ul .col-md-3.featured .maindiv {
	border:3px solid #ffcc12;
}

.pricing_ul .col-md-3.featured a button {
	background: #ffcc12;
	color: #fff;
}

.barline {
	color: white;
	padding:80px 0;
	line-height: 25px;
}

.barline .col-md-4 {
	margin:10px auto;
}

.barline img {
	height: 100px;
}

.barline h3 {
	font-size: 16px;
	margin:20px 0;
	padding:0;
	font-weight: bold;
}

.barline p {
	margin:0;
}

.bggray {
	background: #f1f1f1;
}

.contact {
	background-image: -webkit-linear-gradient(left, #ffffff 0, #ffffff 45%, #f3f3f3 45%, #f3f3f3 100%);
    background-image: -moz-linear-gradient(left, #ffffff 0, #ffffff 45%, #f3f3f3 45%, #f3f3f3 100%);
    background-image: -o-linear-gradient(left, #ffffff 0, #ffffff 45%, #f3f3f3 45%, #f3f3f3 100%);
    background-image: linear-gradient(to right, #ffffff 0, #ffffff 45%, #f3f3f3 45%, #f3f3f3 100%);
    position: relative;
}

.contact iframe {
	position: absolute;
	height: 100%;
	top: 0; left: 0;
	width: 45%;
}

.contact .contactsection {
	padding:50px;
}

.contact h2.title {
	font-size: 25px;margin:0 0 20px;
}

.contact h2.title::after {
	margin:20px 0 0;
}

.contact h2.title span {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}

.marginnone {
	margin: 0;
}

.form {
	margin:40px 0 0;
}

.form p {
	margin:0 0 5px; padding:0;
}

.form p input, .form p textarea {
	width: 100%;
	padding:10px !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	border-radius: 0 !important;
	font-size: 13px;
}

.form p textarea {
	height: 200px;
}

.form input[type="submit"] {
	background: #ffcc12;
	color: #fff;
	width: auto;
	padding:12px 30px !important;
	font-weight: bold;
	margin-top: 10px;
}

.videobg {
	width: 100%;
	margin-top: -12px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 0;
}

.videobg .fa {
	display: block;
	margin: 20% auto;
	font-size: 50px;
	color: #fff;
	border:7px solid #fff;
	width: 100px;
	height: 100px;
	line-height: 85px;
	border-radius:100%;
}

.clients_ul .col-md-4 .bgimage {
	height: 100px;
	background-size: 60%;
}



/**media queries*
@media (max-width: 1024px) {
	.landingimage h1.bigtitle {
		font-size: 60px;
	}
	.aboutus h1 {
		font-size: 40px;
	}
	.videobg {
		margin-top: 12px;
	}
	.whatwedo_ul .col-md-4 h3 {
		font-size: 20px;
	}
}

@media (max-width: 800px) {
	.landingimage h1.bigtitle {
		font-size: 50px;
	}
	.aboutus h1 {
		font-size: 20px;
	}
	h2.title {
		font-size :22px;
	}
	.landingimage .title-2 h1 {
		font-size: 22px;
	}
	.services .col-md-4, .clients_ul .col-md-4, .pricing_ul .col-md-3 {
		float: left !important;
		width: 50% !important;
	}
	.videobg {
		position: relative;
		padding: 50px;
	}
	.contact {
		background: #f3f3f3;
	}
	.contact iframe {
		position: relative;
		height: 350px;
		top: 0; left: 0;
		width: 100%;
	}
	.contact .contactsection {
		padding:20px 10px;
	}

	.form .col-md-6 {
		margin-bottom: 15px;
		padding:0 !important;
	}
	.form .col-md-6.lastt {
		margin-bottom: 0;
	}
	.widget {
		margin:0 auto 20px;
	}
	.widget.lastt {
		margin:0 auto;
	}
	.widget .col-md-2 {
		text-align: left !important;
	}
	.siteinfo {
		text-align: center;
	}
	.siteinfo .text-right {
		text-align: center !important;
		margin-top: 10px;
	}
	.row {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 668px) {
	.landingimage h1.bigtitle {
		font-size: 40px;
	}
	.landingimage .title-2 h1 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.welovemaking {
		padding:70px 0;
	}
	.barline img {
	    height: 70px;
	}
	.sidenav {
	    width: 70%;
		right: -70%;
	}
	.sidenav.toggle {
		right: 0;
	}
	.sidenav ul {
		padding: 100px 20px 0;
	}
	.sidenav a, .sidenav ul li span.mainitem {
		font-size: 14px;
	}
}

@media (max-width: 570px) { 
	.services .col-md-4, .clients_ul .col-md-4, .pricing_ul .col-md-3 {
		float: none !important;
		width: auto !important;
	}
}

@media (max-width: 414px) {
	.landingimage h1.bigtitle {
		font-size: 20px;
	}
	.landingimage .title-2 h1 {
		font-size: 14px;
	}
	.margintopp {
		margin-top:100px;
	}
}

*/



/* Media query */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.logo img {
		height: 32px;
		margin-top: 4%;
	}
	
	.bar1, .bar2, .bar3 {
		width: 18px;
		margin: 3px auto;
	}
	
	.landingimage h1.bigtitle {
		font-size: 40px;
	}
	
	.sidenav a, .sidenav ul li span.mainitem {
		font-size: 14px;
		padding: 6px 20px;
	}
	
	.sidenav p {
		font-size: 16px;
	}
	
	.sidenav ul.sc li a {
		font-size: 18px;
	}
	
	p {
		font-size: 12px;
		line-height: 1.6;
	}
	
	h2.title {
		font-size: 25px;
	}
	
	.services .col-md-4 .icn {
		width: 60px;
		height: 60px;
		line-height: 60px;
		background-size: 28px;	
	}
	
	.services .col-md-4 h3 {
		font-size: 12px;
	}
	
	.services .col-md-4 {
		margin: 20px auto;
	}
	
	.services .col-md-4 .maindiv {
		padding: 20px 20px;
	}
	
	button, input[type="submit"] {
		font-size: 11px;
		padding: 7px 16px;
	}
	
	.clients_ul .col-md-4 .bgimage {
		height: 65px;
	}
	
	.whatwedo_ul .col-md-4 h3 {
		font-size: 16px;
	}
	
	.testimonialss .item .author {
		font-size: 12px;
	}
	
	.pricing_ul .col-md-3 h3.package_name {
		font-size: 12px;
	}
	
	.pricing_ul .col-md-3 h2.price i {
		font-size: 30px;
	}
	
	.package_ul ul li {
		padding: 4px 15px;
		font-size: 12px;
	}
	
	.barline img {
		height: 80px;
	}
	
	.barline h3 {
		font-size: 14px;
		margin: 10px 0;
	}
	
	.contact {
		background: #f3f3f3;
	}
	.contact iframe {
		position: relative;
		height: 350px;
		top: 0; left: 0;
		width: 100%;
	}
	.contact .contactsection {
		padding:20px 10px;
	}
	
	
	.contact h2.title span {
		font-size: 14px;
	}
	
	.form p input, .form p textarea {
		font-size: 12px;
		padding: 9px !important;
	}
	
	.form input[type="submit"] {
		padding: 10px 20px !important;
		font-size: 11px;
	}
	
	.footer img {
		height: 32px !important;
	}
	
	ul.social_links li a {
		font-size: 16px;
	}
	
	.listingul ul li .fa {
		font-size: 14px;
	}
	
	.footer .col-md-10 {
		font-size: 12px;
	}
	
	.listingul ul li a {
		font-size: 12px;
	}
	
	.widget h3 {
		font-size: 14px;
	}
	
	.siteinfo ul li {
		font-size: 12px;
		margin-right: 0px;
		margin-left: 0px;
	}

}

@media only screen 
and (max-device-width : 767px)  {
	
	.container, .container-fluid {
		width: 91%;
	}
	
	.logo img {
		height: 28px;
		margin-top: 4%;
	}
	
	.bar1, .bar2, .bar3 {
		width: 15px;
		margin: 3px auto;
	}
	
	.landingimage h1.bigtitle {
		font-size: 20px;
	}
	
	.sidenav a, .sidenav ul li span.mainitem {
		font-size: 8px;
		padding: 2px 0px;
	}
	
	.sidenav ul {
		padding: 80px 40px 0;
		margin: 0 0 0px;
	}
	
	.sidenav ul.sc {
		text-align: center;
	}
	
	.sidenav ul.sc li {
		margin: 0px 2px;
	}
	
	.sidenav p {
		font-size: 10px;
	}
	
	.sidenav ul.sc li a {
		font-size: 12px;
	}
	
	p {
		font-size: 11px;
		line-height: 1.6;
	}
	
	h2.title {
		font-size: 20px;
	}
	
	.services .col-md-4 .icn {
		width: 50px;
		height: 50px;
		line-height: 50px;
		background-size: 25px;
	}
	
	.services .col-md-4 h3 {
		font-size: 10px;
	}
	
	.services .col-md-4 {
		margin: 5px auto;
	}
	
	.services .col-md-4 .maindiv {
		padding: 15px 20px;
	}
	
	button, input[type="submit"] {
		font-size: 10px;
		padding: 6px 12px;
	}
	
	.videobg {
		position: relative;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 150px;
		text-align: center;
		vertical-align: middle;
	}
	
	.videobg .fa{
		margin: 6px auto;
		font-size: 30px;
		width: 70px;
		height: 70px;
		line-height: 55px;
		padding-left: 9px;
		position: relative;
		top: 34px;
	}
	
	
	.clients_ul .col-md-4 .bgimage {
		height: 65px;
		background-size: 100%;
	}
	
	.whatwedo_ul .col-md-4 .bgimage {
		height: 150px;
	}
	
	.whatwedo_ul .col-md-4 h3 {
		font-size: 14px;
	}
	
	.whatwedo_ul .col-md-4 h3::after {
		width: 50px;
		margin: 12px auto;
	}
	
	.testimonialss .item .author {
		font-size: 11px;
	}
	
	.somelinks ul li {
		font-size: 10px;
	}
	
	.pricing_ul .col-md-3 h3.package_name {
		font-size: 10px;
	}
	
	.pricing_ul .col-md-3 h2.price i {
		font-size: 18px;
	}
	
	.pricingtables .col-md-12 {
		padding: 3px;
	}
	
	.pricing_ul .col-md-3 {
		margin: 5px auto;
		padding: 3px;
	}
	
	.package_ul ul li {
		padding: 4px 10px;
		font-size: 8px;
	}
	
	.barline img {
		height: 80px;
	}
	
	.barline h3 {
		font-size: 12px;
		margin: 8px 0;
	}
	
	.contact h2.title {
		font-size: 20px;
	}
	
	.contact {
		background: #f3f3f3;
	}
	.contact iframe {
		position: relative;
		height: 350px;
		top: 0; left: 0;
		width: 100%;
	}
	.contact .contactsection {
		padding:20px 10px;
	}
	
	
	.contact h2.title span {
		font-size: 12px;
	}
	
	.form p input, .form p textarea {
		font-size: 11px;
		padding: 8px !important;
	}
	
	.form input[type="submit"] {
		padding: 8px 14px !important;
		font-size: 10px;
	}
	
	.footer img {
		height: 26px !important;
	}
	
	ul.social_links li a {
		font-size: 14px;
	}
	
	.listingul ul li .fa {
		font-size: 12px;
	}
	
	.footer .col-md-10 {
		font-size: 12px;
	}
	
	.listingul ul li a {
		font-size: 10px;
	}
	
	.widget h3 {
		font-size: 12px;
	}
	
	.footer .col-xs-2 {
		padding: 0;
	}
	
	.siteinfo ul li {
		font-size: 10px;
		margin-right: 0px;
		margin-left: 0px;
	}
	
	.copyright {
		font-size: 10px;
	}
}