/*
========================================================================
# General section styles
------------------------------------------------------------------------
*/

@charset "utf-8";

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  transition:all .2s ease;
  outline: none !important;
}

::-moz-selection {
    color: #ffffff;
    background: #000;
}

::selection {
    color: #ffffff;
    background: #000;
}

body {
  margin:0; padding:0;
  font-family: 'Raleway', sans-serif;
  line-height:25px;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	line-height:normal;
}

.primary {
  color: #000;
}

.primarybg {
  background-color: #000;
}

.row {
	padding-top: 12px;
	padding-bottom: 12px;
}

ul, ol {
	padding: 0;
}

a {
	color:#000;
	text-decoration:none !important;
}

a:hover {
	color: #000;
}

p {
	margin:0 0 24px;
}

p:last-child {
	margin:0;
}

input, 
select, 
textarea {
	color:inherit;
	padding:10px;
	font-family:inherit;
	border: 1px solid #ddd;
}

button,
input[type="submit"] {
	background: #000;
	color:#fff;
	border: 2px solid #000;
	border-radius: 20px;
	padding:8px 25px;
	text-transform: uppercase;
	cursor:pointer;
}

button:hover,
input[type="submit"]:hover {
	background: none;
	color: #000;
}

img {
	max-width:100%;
}

.inline-block {
	display:inline-block;
}

h2.title {
	color: #000;
	font-size: 30px;
	margin:0 0 25px;
	font-weight: bold;
}

h2.title span {
	display: block;
}


/*
========================================================================
# 2 - Header styles
------------------------------------------------------------------------
*/
.logo {
	display:inline-block;
	vertical-align:middle;
	color: #000;
	font-weight: bold;
	font-size: 22px;
	background-image: url(../images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 38px;
}



.header {
	padding-top: 8%;
}

.header h1 {
	margin:40px 0;
	font-size: 60px;
	font-weight:bold;
	text-transform:uppercase;
}

p {
	color: #555;
}

.header h1 span {
	display:block;
}

.header p {
	margin: 0 0 40px;
	font-size: 14px;
	padding:0;
}

.appicon img {
	width: 155px;
}

.header p span {
	display:block;
}

.header .bgimage {	
	height:530px;
	background-repeat:no-repeat;
	background-position:top center;
}

.header .right.col50 {
	margin-top:70px;
}

.appicon {
	display:inline-block;
}

p {
	font-size: 13px;
	line-height: 1.6;
}


/*
========================================================================
# Clients section styles
------------------------------------------------------------------------
*/


.clintslogo {
	padding-top: 2%;
	padding-bottom: 2%;
}

.clintslogo {
	background: #f8f8f8;
}

.clintslogo .col-md-2 {
	margin:10px auto;
}

.clintslogo .bgimage {
	height:75px;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}



/*
========================================================================
# Features section styles
------------------------------------------------------------------------
*/

.features {
	padding-top: 4%;
	padding-bottom: 4%;
}

.fourinrow .col-md-3 {
	margin:15px auto;
}

.fourinrow .col-md-3 img {
	height:40px;
}

.fourinrow .col-md-3 h3 {
	font-size: 18px;
	font-weight: bold;
}

.fourinrow .col-md-3 p {
	padding: 0px 15px;
}


/*
========================================================================
# Awesome design section styles
------------------------------------------------------------------------
*/
.awesomedesign {
	text-align:left;
}

.awesomedesign .bgimage {
	height:500px;
	background-position:top center;
	background-repeat:no-repeat;
	background-size: 44%;
	margin-top: 20px;
}

.awesomedesign .col50.right {
	padding:200px 70px 0;
}

.toppadding {
	 padding-top: 20%;
}


.toppadding p {
	padding: 0% 39%;
	padding-left: 0px;

}



/*
========================================================================
# videobg section styles
------------------------------------------------------------------------
*/
.videobg {
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	padding:200px 0;
}

.videobg::before {
	position:absolute; content:"";
	top:0; left: 0;
	width:100%; height:100%;
	background:rgba(0,0,0,0.5);
}

.videobg .container {
	position:relative;
	z-index:999;
	color:#fff;
	text-align:center;
}

.videobg a {
	color:#fff;
}



/*
========================================================================
# Cool jack sparrow section styles
------------------------------------------------------------------------
*/
.cooljack {
	padding-bottom:0;
	padding-top: 4%;
}

.cooljack .bgimage {
	background-size: 50%;
	background-repeat: no-repeat;
	background-position:top center;
	height:500px;
	margin-top:40px;
}



/*
========================================================================
# how does it work section styles
------------------------------------------------------------------------
*/
.howitwork {
	background:#f8f8f8;
	padding-bottom:0;
	padding-top: 4%;
}

.howitwork .bgimage {
	background-size: 50%;
	background-repeat: no-repeat;
	background-position:top center;
	height:500px;
	margin-top:40px;
}



/*
========================================================================
# App screenshots section styles
------------------------------------------------------------------------
*/

.appscreenshots {
	padding-bottom: 2%;
	padding-top: 4%;
}

.appscreenshots .smallimage {
	position:relative;
	width:30%;
	display:inline-block;
	opacity: 0.5;
}

.appscreenshots .bigimage {
	position:relative;
	width:30%;
	height:510px;
	margin:10px;
	display:inline-block;
	margin-bottom:97px;
}



/*
========================================================================
# designareawesome section styles
------------------------------------------------------------------------
*/
.designareawesome {
	background:#f8f8f8;
	padding-bottom:0;
	padding-top: 4%;
}

.designareawesome .bgimage {
	background-size: 40%;
	background-repeat: no-repeat;
	background-position:top center;
	height:500px;
	margin-top:40px;
}



/*
========================================================================
# About our app section styles
------------------------------------------------------------------------
*/
.aboutourapp {
	text-align:left;
}

.aboutourapp .bgimage {
	height:500px;
	background-position:top center;
	background-repeat:no-repeat;
	background-size: 44%;
	margin-top: 40px;
}

.aboutourapp .col50.left {
	padding:200px 70px 0;
}



/*
========================================================================
# our happy clients section styles
------------------------------------------------------------------------
*/
.ourhappyclients {
	background:#f8f8f8;
}

.ourhappyclients {
	padding-top: 4%;
	padding-bottom: 4%;
}

.tweets {
	margin-top:40px;
}

.tweet {
	background:#fff;
	padding:15px;
	border:1px solid #c8cfe6;
	text-align:left;
	border-radius: 5px;
	position: relative;
	margin-bottom: 50px;
}

.tweet::after {
	position: absolute;
	bottom: -30px;
	left: 10px;
	z-index: 999;
	content: "";
	background: url(../images/shape.png) no-repeat;
	background-size: contain;
	height: 30px;
	width: 30px;
}

.tweet p {
	margin:0 0 10px; 
}

.tweet p:last-child {
	margin:0;
}

.authorbox {
	margin-top: 20px;
}

.authorbox .bgimage {
	width:60px;
	height: 60px;
	border-radius:100%;
	margin-right: 20px;
}

.authorbox h3 {
	font-size: 16px;
	margin:0; padding:5px 0;
	font-weight: bold;
}


.authorbox h3 span {
	display: block;
	font-size: 14px;
	margin-top: 4px;
	color: #31bdeb;
}

.readmorebtn {
	margin-top:20px;
}

.readmorebtn  a {
	display:inline-block;
}

.readmorebtn button {
	background: #fff;
	color:#000;
	font-weight:bold;
	text-transform:uppercase;
	border:none;
	box-shadow:rgba(0, 0, 0, 0.3) -1px 2px 6px 0px;
}



/*
========================================================================
# what are you waiting for section styles
------------------------------------------------------------------------
*/
.whatareyouwaitingfor {
	background:#f8f8f8;
	padding-top: 2%;
	padding-bottom: 4%;
}

.scrollup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #000;
    color: #fff !important;
    font-size: 20px;
    opacity: 0.8;
}



/*
========================================================================
# Footer section styles
------------------------------------------------------------------------
*/
.footer {
	color:#000;
	padding:25px 0;
}

.social ul {
	list-style:none;
	margin:15px 0 20px; padding:0;
}

.social ul  li {
	position:relative;
	display:inline-block;
	margin:0 3px;
}

.social ul li a {
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:100%;
	color:white;
	background:#000;
}

.links ul {
	list-style:none;
	margin:0 0 15px; padding:0;
}

.links ul li {
	position:relative;
	display:inline-block;
	margin:0 10px;
}

.links ul li a {
	display:block;
	color:#000;
	font-weight:bold;
	font-size:16px;
}

.copyright p {
	margin:0; padding:0;
}


/*
========================================================================
# Media Queries
------------------------------------------------------------------------
*/
@media (max-width: 1024px) {
	.header h1 {
		font-size: 20px;
	}
	
	.header h1 {
		font-size: 12px;
	}
	
	.appscreenshots .bigimage {
		margin-bottom: auto;
	}
	
	.awesomedesign .bgimage {
		background-size: 54%;
	}
	
	.appicon img {
		width: 135px;
	}
	
	.clintslogo .bgimage {
		height: 65px;
	}
	
	h2.title {
		font-size: 25px;
	}
	
	p {
		font-size: 12px;
	}
	
	.fourinrow .col-md-3 img {
		height: 35px;
	}
	
	.fourinrow .col-md-3 h3 {
		font-size: 16px;
	}
	
	.links ul li a {
		font-size: 14px;
	}
	
	.readmorebtn button {
		font-size: 12px;
	}
	
	.authorbox h3 {
		font-size: 14px;
	}
	
	.cooljack .bgimage {
		background-size: 62%;
	}
	.howitwork .bgimage {
		background-size: 62%;
	}
	.designareawesome .bgimage {
		background-size: 50%;
	}
	.aboutourapp .bgimage {
		background-size: 54%;
	}
}

@media (max-width: 800px) {
	.header .leftside {
		text-align: center;
		margin-bottom: 30px;
	}
	.header p span {
	    display: inline-block;
	}
	.logo {
		background-position: center;
	}
	.fourinrow .col-md-3 {
		float: left !important;
		width: 50% !important;
	}
	.awesomedesign .bgimage {
	    background-size: 260px;
	}
	.toppadding {
	    padding: 50px 0;
	    text-align: center;
	}
	.cooljack .bgimage {
	    background-size: 600px;
	}
	.howitwork .bgimage {
	    background-size: 600px;
	}
	.appscreenshots .bigimage {
		height: auto;
	}
	.designareawesome .bgimage {
	    background-size: 478px;
	}
	.aboutourapp .bgimage {
	    background-size: 260px;
	}
}

@media (max-width: 570px) {
	.header h1 {
	    font-size: 26px;
	}
	h2.title {
	    font-size: 26px;
	}
	.fourinrow .col-md-3 h3 {
	    font-size: 20px;
	}
	.cooljack .bgimage {
	    background-size: 80%;
	    height: 350px;
	}
	.howitwork .bgimage {
	    background-size: 78%;
	    height: 350px;
	}
	.designareawesome .bgimage {
	    background-size: 62%;
	    height: 350px;
	}
	.aboutourapp .bgimage {
	    background-size: 32%;
	    height: 350px;
	}
	.links ul li a {
		font-size: 14px;
	}
	.fourinrow .col-md-3 {
	    float: none !important;
	    width: auto !important;
	}
	.appscreenshots .smallimage, .appscreenshots .bigimage {
		display: block;
		width: auto;
		margin:10px auto;
	}
}

@media (max-width: 414px) {
	.header h1 {
	    font-size: 20px;
	    margin: 20px 0;
	}
	.header p {
		font-size: 12px;
		margin: 0 0 20px;
	}
	
	p {
		font-size: 11px;
	}
	
	h2.title {
	    font-size: 20px;
	}
	.fourinrow .col-md-3 h3 {
	    font-size: 16px;
	}
	.cooljack .bgimage {
	    background-size: 80%;
	    height: 350px;
	}
	.howitwork .bgimage {
	    background-size: 78%;
	    height: 350px;
	}
	.designareawesome .bgimage {
	    background-size: 62%;
	    height: 350px;
	}
	.aboutourapp .bgimage {
	    background-size: 32%;
	    height: 350px;
	}
	.links ul li a {
		font-size: 12px;
	}
	
	.social ul li a {
		display: block;
		width: 25px;
		height: 25px;
		line-height: 23px;
	}
	
	.appicon img {
		width: 125px;
	}
	
	.readmorebtn button {
		font-size: 10px;
	}
	
	.authorbox h3 {
		font-size: 12px;
	}
	
	.toppadding p {
		padding: 0% 9%;
	}
}