@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,900');


body {
	font-family: 'Raleway', sans-serif;
}

.header {
	background-image: url("../images/header_resto.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center; 
	height: 650px;
}



.logo-img {
	position: relative;
    right: 15px;
    width: 125px;
}

.header-section {
	position: relative;
    top: 30px;
    background: #000;
    height: 38px;
    left: 1%;
    width: 97.65%;
}

.icon {
	float: right;
	position: relative;
    left: 19.5%;
    top: 15px;
   width: 16px;
}


.booking-online-btn {
	color: #c59d5f;
    background-color: #000000;
    border-color: #c59d5f;
    border-radius: 0;
   	padding: 5% 20%;
    float: right;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    outline: #453317;
}

.fa-icon {
	position: relative;
    left: 16px;
    font-size: 10px !important;
    bottom: 1px;
}

.header-btn {
	position: relative;
	top: 5px;
	right: 6px;
}

.logo-section li {
	text-transform: uppercase;
	font-weight: bold;
}

.logo-section li a {
	color: #fff !important;
	padding-left: 3px;
	position: relative;
	top: 2px;
	right: 1px;
	font-size: 12px;
}

.logo-section li a:hover {
	text-decoration: none !important;
	cursor: pointer;
}

.welcome-h5  h5{
	text-align: center;
    color: #c59d5f;
    font-size: 25px;
    font-family: 'Raleway', Regular;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn-bg {
	background-color: #000;
    height: 44px;
    width: 170px;
    display: block;
    float: right;
    position: relative;
    top: 20px;
    left: 11.5%;
}

.creative-theme h1{
	font-size: 50px;
    color: white;
    text-align: center;
    text-align-last: center;
    font-weight: bold;
    max-width: 34%;
    position: relative;
    left: 32.5%;
    bottom: 18px;
    text-transform: uppercase;
}

.header-heading {
	    padding-top: 15%;
    	padding-bottom: 17%;
}

.social-icon {
	text-align: center;
	padding-bottom: 2%;
}

.fa-icons {
	font-size: 20px;
	color: black;
	background: #fff;
	border-radius: 50%;
	padding: 8px 15px;
	cursor: pointer;
}

.fa-icons:hover {
	font-size: 20px;
	color: white;
	background: #c59d5f;
	border-radius: 50%;
	padding: 8px 15px;
}

.fa-icon-t {
	font-size: 20px;
	color: #000;
	background: #fff;
	border-radius: 50%;
	padding: 8px 11px;
	cursor: pointer;
}

.fa-icon-t:hover {
	font-size: 20px;
	color: #fff;
	background: #c59d5f;
	border-radius: 50%;
	padding: 8px 11px;
}

.fa-icons-in {
	font-size: 20px;
	color: #000;
	background: #fff;
	border-radius: 50%;
	padding: 8px 12px;
	cursor: pointer;
}

.fa-icons-in:hover {
	font-size: 20px;
	color: #fff;
	background: #c59d5f;
	border-radius: 50%;
	padding: 8px 12px;
}


.fa-icons-p {
	font-size: 20px;
	color: #000;
	background: #fff;
	border-radius: 50%;
	padding: 8px 13px;
	cursor: pointer;
}

.fa-icons-p:hover {
	font-size: 20px;
	color: #fff;
	background: #c59d5f;
	border-radius: 50%;
	padding: 8px 13px;
}


.btn-reserve-table {
	text-align: center;
}

.reverse-table-btn {
	color: #fff;
    background-color: transparent;
    border-color: #ffffff;
    text-transform: uppercase;
    font-size: 9px;
    border-radius: 0;
    padding: 6px 28px;
    outline: #fff;
}

.discover {
	padding-top: 16px;
}

.discover h5{
	 text-align: center;
    font-size: 15px;
    color: #c59d5f;
    position: relative;
    top: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.our-story:after {
	border-bottom: 2px solid #c59d5f;
	content: "";
    display: inline-block;
    position: relative;
    bottom: 12px;
    right: 3px;
    width: 40px;
    
}

.our-story {
	text-align: center;
}

.our-story h3 {
	text-align: center;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}

.pargraph {
	text-align: justify;
    font-size: 12px;
    text-align-last: center;
    padding-top: 2%;
    color: #424242;
}


.pargraph1 {
	text-align: justify;
    font-size: 14px;
    text-align-last: center;
    padding: 1%;
    color: #424242;
    width: 106%;
}

.book-a-table p {
	text-align: justify;
    font-size: 11px;
    text-align-last: center;
    padding: 5px 100px;
    color: #424242;
    line-height: 1.6;
    
} 

.section-btn {
	text-align: center;
    padding-top: 2.5%;
}

.read-more {
	color: #c59d5f;
    background-color: transparent;
    border-color: #c59d5f;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 9px;
	padding: 6px 28px;
    outline: #443215;
    font-weight: 600;
}

.section {
	padding-bottom: 4%;
	padding-top: 2%;
}

.section-img {
	padding-top: 9%;
}

.section1 {
	background-image: url("../images/image_resto.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center; 
	height: 650px;
}

.good-food h1{
	color: #c59d5f;
	font-size: 55px;
	font-weight: 900;
    padding-top: 24%;
    position: relative;
    text-align: center;
}

.images {
	position: relative;
	top: 15px;
}

.our-dishes:after {
	border-bottom: 2px solid #c59d5f;
	content: "";
    display: inline-block;
    position: relative;
    bottom: 12px;
    right: 3px;
    width: 40px;
    
}

.our-dishes {
	text-align: center;
}

.our-dishes h3 {
    font-size: 23px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}

.section-content {
	padding-top: 8%;
    padding-left: 10%;
}

.section2 {
	padding-top: 4%;
    padding-bottom: 4%;
}

.section3 {
	background-image: url("../images/section-image1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center; 
	height: 550px;
}

.book-a-table {
	text-align: center;
    padding-top: 19%;
}

.book-a-table h1 {
	font-family: 'Raleway', Black;
    font-size: 54px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}

.book-now {
	color: #000;
    background-color: transparent;
    border-color: #000;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 9px;
    padding: 6px 28px;
    position: relative;
    top: 21px;
    outline: #000;
    font-weight: 600;
}

.today-deal {
	text-align: center;
	padding-top: 13%;
}

.deal:after {
	border-bottom: 2px solid #c59d5f;
	content: "";
    display: inline-block;
    position: relative;
    bottom: 12px;
    right: 3px;
    width: 40px;
}

.today-deal h1 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
}

.today-deal p {
	text-align: justify;
    text-align-last: center;
    color: #000;
    padding-bottom: 2%;
}

.get-this-deal {
	color: #c59d5f;
    background-color: transparent;
    border-color: #c59d5f;
    text-transform: uppercase;
    border-radius: 0;
    outline: #c59d5f;
    font-size: 9px;
	font-weight: 600;
	padding: 6px 28px;
}

.section4 {
	padding-bottom: 4%;
	padding-top: 4%;
}

.section5 {
	position: relative;
    top: 40px;
}

.footer {
	background: #c59d5f;
	padding: 8%;
}

.footer-p {
	color: #fff;
    padding-top: 10%;
    padding-bottom: 3%;
    line-height: 1.9;
    font-size: 12px;
}

.social-icons {
	color: #fff;
}

.social-icons i:first-child {
	padding-left: 0px;
}

.social-icons i {
	padding-left: 10px;
	padding-right: 10px;
}

.contact-footer h4 {
	font-weight: 600;
	text-transform: uppercase;
}

.contact-footer {
	color: #fff;
	position: relative;
    bottom: 8px;
}

.contact-footer li {
	font-size: 14px;
	padding-top: 10px;
}

.contact-footer i {
	padding-right: 10px;
}

.links-footer {
	color: #fff;
	position: relative;
    bottom: 9px;
}

.links-footer li{
	font-size: 14px;
	padding-top: 16px;
}

.links-footer h4 {
	font-size: 16px;
	font-weight: 600;
}

.new-york {
	position: relative;
    left: 27px;
    font-size: 15px;
    top: 5px;
}

.email-span {
	position: relative;
    top: 5px;
}

.sub-footer {
	border-top: 2px solid #fff;
    background: #c59d5f;
    padding: 8%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.copyrights {
	color: #fff;
}

.privacy {
	color: #fff;
    position: relative;
    bottom: 7px;
    font-size: 14px;
    float: right;
    right: 8%;
}
.privacy span {
	position: relative;
    left: 4%;
}

.footer-content {
	position: relative;
	left: 4%;
}

.footer-content1 {
	position: relative;
	left: 3.9%;
}


/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
 
}
.fade-carousel .carousel-inner .item {
    
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #fff;
    border-color: #fff;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

              border: 1px solid #ddd;
              padding: 3% 10%;
              
}
.hero p {
    text-align: justify;
    text-align-last: center;
    padding: 2% 10%;
}

.hero h3 {
	
}




/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center; 
	height: 650px;
}
.fade-carousel .slides .slide-1 {
  background-image: url('../images/img11.png'); 
}
.fade-carousel .slides .slide-2 {
  background-image: url('../images/img11.png');
}
.fade-carousel .slides .slide-3 {
  background-image: url('../images/img11.png');
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2em; }    
}



/* Media query */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	.container {
		width: 100%;
		overflow: hidden;
	}
	
	.header {
		height: 600px;
	}
	
	.header-btn {
	    position: relative;
	    top: 6px;
	    left: 0;
	    right: 6px;
    }
    
    .fa-icon {
	    position: relative;
	    left: 7px;
    }
    
    .btn-bg {
		position: relative;
		top: 21px;
		left: 4.9%;
		height: 40px;
		width: 140px;
	}
    
    .booking-online-btn {
	    font-size: 10px;
	}
	
	.welcome-h5 h5 {
    	font-size: 25px;
    }
    
    .creative-theme h1 {
	    font-size: 35px;
	    max-width: 43%;
	    position: relative;
	    left: 29.5%;
	}
	
	.header-heading {
		padding-top: 10pc;
	}
	    
	    .social-icon {
		    text-align: center;
		}
		
		.btn-reserve-table {
		    text-align: center;
		    padding: 6px 15px;
		}
		
		.section-img {
			max-width: 130%;
    		height: 265px;
		}
		
		.section1 {
				height: 600px;
		}
		
		.good-food h1 {
			    font-size: 32px;
			    padding-top: 35%;
		}
		
		.section-content {
    		padding: 0;
    	}
    	
    	.images-section {
			position: relative;
			top: 45px;
		}
		
		.discover h5 {
		    text-align: center;
		    font-size: 13px;
		    position: relative;
    		top: 15px;
		}
		
		.our-dishes h3 {
    		font-size: 23px;
    	}
    	
    	.pargraph1 {
			font-size: 8px;
			padding: 0;
			width: 100%;
		}
		
		.section2 {
			padding-top: 0%;
			padding-bottom: 8%;
		}
    	
    	.pargraph {
		    text-align: justify;
		    font-size: 8px;
		}
		
		.read-more {
			font-size: 9px;
			padding: 4px 15px;
		}
		
		.section-btn {
		    text-align: center;
		    padding-top: 2%;
		}
		
		.book-a-table h1 {
			font-size: 15px;
		}
		
		.today-deal h1 {
			font-size: 24px;
		}
		
		.deal:after  {
			width: 24px;
			position: relative;
			right: 0px;	
		}
		
		.today-deal p {
			font-size: 8px;
		}
		
		.get-this-deal {
			font-size: 8px;
			padding: 4px 15px;
		}
		
		.fade-carousel .slides .slide-1, 
		.fade-carousel .slides .slide-2,
		.fade-carousel .slides .slide-3 {
			height: 600px !important;
		} 
		
		.hero h3 {
			font-size: 20px;
		}
		
		.hero p {
			font-size: 10px;
		}
		
		.our-story h3 {
			font-size: 24px;
		}
		
		.contact-footer li {
			font-size: 10px;
		}
		
		.contact-footer {
			position: relative;
    		bottom: 10px;
		}
		
		.section3 {
			height: 400px;
		}
		
		.book-a-table h1 {
		    font-size: 29px;
	}
	
		.book-a-table p {
			padding: 5px 65px;
			font-size: 9px;
		}
		
		.book-now {
			font-size: 9px;
			padding: 3px 14px;
			top: 0;
		}
		
		.today-deal {
			text-align: center;
			padding-top: 3%;
		}
		
		.contact-footer h4 {
			font-size: 9px;
		}
		
		.contact-footer li {
			font-size: 9px;
		}
		
		.new-york {
			position: relative;
		    left: 13px;
		    font-size: 10px;
		}
		
		.links-footer {
			    position: relative;
    			bottom: 10px;
		}
		
		.links-footer h4 {
			font-size: 9px;
		}
		
		.links-footer li {
		    font-size: 9px;
		    padding-top: 12px;
		}
		
		.footer {
			background: #c59d5f;
		    padding: 8%;
		    padding-right: 0px;
		    padding-left: 0px;
		    padding-bottom: 15px;
		}
		
		.sub-footer {
			padding-right: 0px;
		    padding-left: 0px;
		    padding-bottom: 0px;
		    font-size: 10px;
		}
		.footer-p {
			font-size: 10px;
		}
		
		.copyrights {
			font-size: 10px;
		}
		
		.privacy {
			font-size: 10px;
		}
}

@media only screen 
and (max-device-width : 767px) {
	
	.container {
		width: 100%;
		overflow: hidden;
	}
	
	.header-section {
		top: 15px;
		height: 16px;
		width: 100%;
	}
	
	.header {
    	height: 350px;
    }
    
    .logo-section li a {
		color: #fff !important;
		font-size: 5px;
		padding-left: 0px;
		top: 0;
		right: 4px;
	}
	
	.logo-section li {
		padding-left: 0px;
		padding-right: 4px;
	}
	
	.icon {
		top: 4px;
		width: 12px;
	}
	
	.btn-bg {
		height: 20px;
		width: 50px;
		top: 6px;
		left: 24.6%;
	}
    
	.logo-section {
	    font-size: 8px;
	}
	
	.logo-img {
    	width: 53px;
    	right: 10px;
	}
	
	.font-awesome {
	    position: relative;
	    left: -5%;
	}
	
	.header-btn {
	    position: relative;
		top: 3px;
		right: 3px;
	}
	
	.booking-online-btn  {
		font-size: 4px;
		padding: 3% 8%;
	}
	
	.fa-icon {
	    position: relative;
	    font-size: 6px !important;
	    bottom: 0px;
	    left: 2px;
	}
	
	.welcome-h5 h5 {
		font-size: 13px;
	}
	
	.creative-theme h1 {
		max-width: 75%;
	    position: relative;
	    left: 12.2%;
	    font-size: 23px;
	    color: white;
	    text-align: center;
	    text-align-last: center;
	}
	
	.fa-icons {
		padding: 6px 10px;
		font-size: 10px;
	}
	
	.fa-icons:hover {
		padding: 6px 10px;
		font-size: 10px;
	}
	
	.fa-icon-t {
		font-size: 11px;
		padding: 6px 8px;
	}
	
	.fa-icon-t:hover {
		font-size: 11px;
		padding: 6px 8px;
	}
	
	
	.fa-icons-p {
		font-size: 11px;
		padding: 6px 9px;
	}
	
	.fa-icons-p:hover {
		font-size: 11px;
		padding: 6px 9px;
	}
	
	.fa-icons-in {
		font-size: 10px;
		padding: 6px 8px;
	}
	
	.fa-icons-in:hover {
		font-size: 10px;
		padding: 6px 8px;
	}
	
	.header-heading {
		padding-top: 5pc;
	}
	
	.social-icon {
	    text-align: center;
	    position: relative;
		bottom: 15px;
	}
	
	.btn-reserve-table {
	    text-align: center;
	    padding-top: 2%;
	}
	
	.reverse-table-btn {
		font-size: 6px;
		padding: 5px 12px;
	}
	
	.good-food h1 {
    	font-size: 15px;
    	padding-top: 45%;
	}
	
	.pargraph1 {
		width: 100%;
		font-size: 9px;
	}
	
	.section1 {
		height: 350px;
	}
	
	.discover h5 {
		font-size: 10px;
	}
	
	.our-story h3 {
		    font-size: 15px;
	}
	
	.our-story:after {
		width: 24px;
		position: relative;
    	bottom: 12px;
    	right: 0;
	}
	
	.pargraph {
		font-size: 9px;
	}
	
	.read-more {
		font-size: 8px;
		padding: 3px 15px;
	}
	
	.section-btn {
		padding: 0;
	}
	
	.our-dishes h3 {
    	font-size: 15px;
    }
    
    .our-dishes:after  {
		    width: 24px;
		    position: relative;
		    right: 0;
	} 
	
	.section3 {
	    height: 200px;
	}
	
	.book-a-table h1 {
		    font-size: 15px;
	}
	
	.book-a-table p {
		font-size: 5px;
		padding: 3px 75px;
	}
	
	.book-now {
		position: relative;
		top: 0px;
		font-size: 6px;
		padding: 3px 9px;
	}
	
	.section4 {
		padding: 0;
	}
	
	.book-a-table {
		padding-top: 11%;
	}
	
	.today-deal {
		padding-top: 4%;
	}
	
	.today-deal h1 {
		font-size: 15px;
	}
	
	.deal:after {
		width: 24px;
		position: relative;
		right: 0;
	}
	
	.today-deal p {
		font-size: 10px;
	}
	
	.get-this-deal {
		font-size: 6px;
		padding: 3px 9px;
	}
	
	.hero {
		position: absolute;
		top: 35% !important;
		font-size: 9px;
	}
	
	.hero p {
		padding: 0 !important;
		font-size: 5px !important;
	}
	
	.hero h3 {
		font-size: 10px;		
	}
	
	.footer {
		background: #c59d5f;
    	padding: 8%;
    	padding-top: 20%;
	}
	
	.footer-p {
		font-size: 5px;
	}
	
	.social-icons i {
		padding-right: 5px;
		padding-left: 2px; 
	}
	
	.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3 {
			height: 300px !important;
		}
	
	.contact-footer {
		position: relative;
    	bottom: 0px;
	}
	
	.contact-footer h4 {
		font-size: 8px;
		position: relative;
		bottom: 3px;
	}
	
	.contact-footer i {
		padding-right: 5px;
	}
	
	.contact-footer li {
    	font-size: 7px;
    	padding-top: 2px;
    }
    
    .new-york {
		position: relative;
	    left: 15px;
	    font-size: 7px;
	    top: 0px;
	}
	
	.email-span {
	    position: relative;
	    top: 0px;
	}
	
	.links-footer {
		position: relative;
    	bottom: 0px;
    }	
	
	.links-footer h4 {
		font-size: 8px;
	}
	
	.links-footer li {
    	font-size: 7px;
    	padding-top: 3px;
    } 
    
    .copyrights {
		font-size: 7px;
	}
	
	.privacy {
		
	    position: relative;
	    bottom: 2px;
	    font-size: 7px;
	    float: right;
	    right: 0;
	    left: 21%;
	}
	
	.food-img {
		padding-top: 5%;
	}
}