@charset "utf-8";
/* CSS Document */

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  transition:all .2s ease;
  outline: none !important;
}

::-moz-selection {
    color: #ffffff;
    background: #7274a2;
}

::selection {
    color: #ffffff;
    background: #7274a2;
}

body {
  margin:0; padding:0;
  font-family: 'Raleway', sans-serif;
  line-height:25px;
}

h1, h2, h3, h4, h5, h6 {
	line-height:normal;
}

.primary {
  color: #7274a2;
}

a {
	color:#7274a2;
	text-decoration:none;
}

p {
	margin:0 0 24px;
}

p:last-child {
	margin:0;
}

input, 
select, 
textarea {
	color:inherit;
	padding:10px;
	font-family:inherit;
	border: 1px solid #ddd;
}

button,
input[type="submit"] {
	background: #7274a2;
	color:#ffffff;
	border: 2px solid #7274a2;
	border-radius: 30px;
	padding:14px 35px;
	text-transform: uppercase;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
	cursor:pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.col10 {
  width: 9%;
}

.col15 {
	width:14%;
}

.col20 {
  width: 19%;
}

.col30 {
  width: 29%;
}

.col40 {
  width: 39%;
}

.col50 {
  width: 49%;
}

.col60 {
  width: 59%;
}

.col70 {
  width: 69%;
}

.col75 {
	width:74%;
}

.col80 {
  width: 79%;
}

.col90 {
  width: 89%;
}

img {
	max-width:100%;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.container {
	max-width: 1240px;
	margin:0 auto;
	padding:0 20px;
}

.container-fluid {
	padding:0 20px;
}

.inline-block {
	display:inline-block;
}

.marginauto {
	margin:0 auto;
}

/**header style**/
.header {
	position:absolute;
	line-height:40px;
	padding:10px 0;
	width:100%;
	top:0;
	z-index:999;
}

.logo {
	display:inline-block;
	vertical-align:middle;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
}

.logo img {
	display:block;
}

nav {
	text-align:center;
	padding:5px 0;
}

nav ul {
	list-style:none;
	margin:0; padding:0;
}

nav ul li {
	position:relative;
	display:inline-block;
	margin:0 20px;
}

nav ul li a {
	display:block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

nav ul li a:hover, nav ul li.active a {
	color: #7274a2;
}

.letstalk_button {
	text-align:right;
	padding:5px 0;
}

.letstalk_button a {
	display:block;
	padding:0 10px;
	text-align:center;
	border-radius: 30px;
	color:#fff;
	background: #7274a2;
	font-size:12px;
	border:2px solid #7274a2;
}

.letstalk_button a:hover {
	border:2px solid #fff;
	background: transparent;
	color: #fff;
}

.letstalk_button a .fa {
	margin-left: 5px;
}

/**slider style**/
.bgimage {
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.landingimage {
	padding:170px 0 120px;
	background-position: top center;
	position: relative;
}

.landingimage::before, .dark-translucent-bg {
	position: absolute !important;
	width: 100% !important; height: 100% !important;
	left: 0 !important; top: 0 !important;
	content: "";
	background: rgba(0,0,0,0.5) !important;
}

.landingimage .container {
	position: relative;
}

.landingimage h1.bigtitle {
	margin:0 0 40px;
	padding: 0;
	font-size: 80px;
	color: #fff;
}

.landingimage h1.bigtitle::after {
	content: "";
	position: relative;
	margin: 30px auto 0;
	display: block;
	background: #7274a2;
	color: #fff;
	height: 5px;
	width: 30px;
}

.landingimage h1.bigtitle span {
	display:block;
}

.landingimage h1.bigtitle.withnolines::after {
	display: none;
}

.landingimage .description {
	margin-bottom:80px;
}

.white_text {
	color: #fff;
}

.landingimage a.white_btn {
	margin-left: 10px;
}

.landingimage a.white_btn button {
	background: transparent;
	border:2px solid #fff;
	color: #fff;
}

.landingimage a:hover button {
	background: transparent;
	border:2px solid #fff;
	color: #fff;
}

.landingimage a.white_btn:hover button {
	border:2px solid #7274a2;
	background: #7274a2; 
}

.fa.slick-arrow {
    position: absolute;
    z-index: 9999999;
    top: 45%;
    font-size: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    opacity: 0.5;
}

.fa.slick-arrow:hover {
	opacity: 1;
}

.fa.fa-angle-left.slick-arrow {
	left: 20px;
	color: #fff !important;
}

.fa.fa-angle-right.slick-arrow {
	right: 20px;
	color: #fff !important;
}

#mainslider ul.slick-dots {
	position: absolute !important;
    bottom: 15px !important;
    display: block !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    text-align: center !important;
    clear: none !important;
}

#mainslider ul.slick-dots li button {
    border: 2px solid rgba(255,255,255,0.5) !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 100% !important;
    background: none !important;
}

#mainslider ul.slick-dots li button::before {
    width: 14px !important;
    height: 14px !important;
    border-radius: 100% !important;
    background: none !important;
    border: none !important;
}

#mainslider ul.slick-dots li.slick-active button {
	background: none !important;
}

#mainslider ul.slick-dots li.slick-active button::before {
	background: #fff !important;
    width: 7px !important;
    height: 7px !important;
    top: 4px !important;
    left: 4px !important;
}


/**body style**/
.section {
	padding:70px 0;
}
.section h2.title {
	color: #000;
	font-size: 30px;
}

.section h2.title::after {
	position: relative;
	display: block;
	width: 30px;
	margin: 15px auto 0;
	content: "";
	height: 2px;
	background: #7274a2;
}

#services {
	padding:0 !important;
}

.services ul {
	list-style: none;
	margin:0; padding:0;
}

.services ul li {
	position: relative;
	float: left;
	width: 20%;
	padding:40px 20px;
	line-height: 25px;
}

.services ul li img {
	height: 60px;
}

.services ul li .readmore_btn .fa {
	margin-left: 5px;
}

.three-columns {
	margin:50px auto 0;
}

.three-columns ul {
	list-style: none;
	margin:0; padding:0;
}

.three-columns ul li {
	float: left;
	width: 30%;
	margin: 12px;
	padding: 40px 15px;
}

.three-columns ul li img {
	height: 120px;
	margin:0 0 40px;
}

.three-columns ul li .line {
	position: relative;
	display: block;
	height: 2px;
	width: 30px;
	background: #7274a2;
	margin:0 auto 30px;
}

.three-columns ul li h3 {
	margin:0 0 30px; padding:0;
}

.three-columns ul li p {
	margin:0;
}

.explore_btn button {
	color: #000;
	border:1px solid #7274a2;
	background:transparent;
	font-weight: bold;
}

.explore_btn button:hover {
	background: #7274a2;
	color: #fff;
}

.aboutus {
	background: #f3f3f3;
	color: #000;
}

.aboutus h2.title::after {
	margin:30px 0 10px;
}

.aboutus ul.listitem {
	margin:0; padding:0; 
	list-style: none;
}

.aboutus ul.listitem li {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.aboutus ul.listitem li span.digit {
	width: 45px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	border:2px solid;
	font-size: 25px;
	margin-right: 10px;
}

.areyoulooking { 
	position: relative;
}

.areyoulooking::before {
	position: absolute;
	content: "";
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.5);
}

.areyoulooking .container {
	position: relative;
	color: #fff;
}

.areyoulooking h2 {
	text-transform: uppercase;
	color: #fff !important;
}

.areyoulooking h2::after {
	background: #fff !important;
}

.whitebtn button {
	background: #fff !important;
	color: #000 !important;
	border:2px solid #fff !important;
}

.whitebtn button:hover {
	background: none !important;
	color: #000 !important;
}

.four-columns {
	margin: 60px auto;
}

.four-columns ul {
	list-style: none;
	margin:0; padding:0;
}

.four-columns ul li {
	float: left;
	width: 25%;
	padding:40px 30px;
}

.trustedby_clients .container {
	padding:0;
}

.trustedby_clients ul {
	list-style: none;
	margin:0; padding:0;
}

.trustedby_clients ul li {
	float: left;
	width: 16.66%;
}

.trustedby_clients ul li img {
	height: 70px;
	opacity: 0.3;
}

.four-columns ul li img {
	height: 70px;
}

.four-columns ul li.topzero {
	border-top: 0;
}

.four-columns ul li.bottomzero {
	border-bottom: 0;
}

.four-columns ul li.leftzero {
	border-left: 0;
}

.four-columns ul li.rightzero {
	border-right: 0;
}

.portoflio_items {
	margin:40px 0 0;
}

.portoflio_items ul {
	list-style: none;
	margin:0; padding:0;
}

.portoflio_items ul li {
	position: relative;
	float: left;
	width: 25%;
	padding:20px;
}

.portoflio_items ul li .bgimage {
	width: 100%;
	height: 250px;
	background-size: cover;
	position: relative;
}

.portoflio_items ul li:hover .bgimage::before {
	position: absolute;
	content: "";
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(49,208,147,0.2);
}

.portoflio_items ul li h4 {
	margin:20px 10px;
	padding:0;
	color: #000 !important;
	font-size: 16px;
}

.portoflio_items ul li h4 span {
	display: block;
	color: #aaa !important;
	font-size: 14px;
	margin-top: 3px;
	font-weight: normal;
}

ul#filter { 
  list-style: none;
  margin:0; padding:0;
  text-align: center;
}
ul#filter li { 
	display: inline-block;
	position: relative;
	margin-right: 30px;
	font-weight: bold;
	float: none;
	width: auto;
	padding:0;
	text-transform: uppercase;
	color: #7274a2;
}
ul#filter li:last-child { margin-right: 0; }
ul#filter a { display: block; color: #333; border-top:1px solid transparent; padding:5px 0; }
ul#filter li.current a, ul#filter a:hover { color: #7274a2; border-top:1px solid #7274a2; }
ul#filter li.current a { color: #7274a2; }

.team {
	padding-top: 0;
}

.team .container {
	padding:0;
}

.team_ul ul {
	list-style: none;
	margin: 0; padding: 0;
}

.team_ul ul li {
	position: relative;
	float: left;
	width: 25%;
	padding: 20px;
}

.team_ul ul li .bgimage {
	width: 100%;
	height: 240px;
	position: relative;
}

.team_ul ul li h3 {
	margin: 0; padding:15px;
	background: #f5f2f0;
	color: #001839;
	text-transform: uppercase;
}

.team_ul ul li h3 span {
	display: block;
	color: #999;
	text-transform: none;
	font-weight: normal;
	margin-top: 2px;
	font-size: 15px;
}

.team_ul ul li p.team_loc {
	margin:0; padding:0; 
	color: #fff;
}

.statsweareproudof {
	background: #f5f2f0;
}

.stats_ul ul {
	list-style: none;
	margin:0; padding:0;
}

.stats_ul ul li {
	position: relative;
	float: left;
	width: 25%;
	color: #7274a2;
	line-height: normal;
	border-right:1px solid #ddd; 
}

.stats_ul ul li:last-child {
	border-right: none;
}

.stats_ul ul li .maindiv { 
	padding: 20px;
}

.stats_ul ul li h1 {
	font-size:50px;
	margin:0;
	padding:0;
	color: #7274a2;
}

.stats_ul ul li p {
	margin:0 0 10px; padding:0;
	text-transform: uppercase;
	font-weight: bold;
}

#testimonials .item {
	padding:20px;
}

.testi {
	background:url(../images/quotes.png) no-repeat #fff;
	background-position: calc(20px) center;
	border: 1px solid #eee;
	padding:20px;
	padding-left: 100px;
}

.author {
	padding:20px;
}

.author h3 {
	font-size: 15px;
	color: #333;
	padding-left: 25px;
}

.author h3 span {
	display: block;
	font-size: 13px;
	color: #777;
	margin-top: 6px;
	font-weight: normal;
}

#testimonials ul.slick-dots li button {
	padding: 5px !important;
	box-shadow: none !important;
}

#testimonials ul.slick-dots li button, #testimonials ul.slick-dots li button::before {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background: #efefef !important;
    margin:0 1px !important;
}

#testimonials ul.slick-dots li.slick-active button, #testimonials ul.slick-dots li.slick-active button::before {
	background: #7274a2 !important;
}

.blogposts .container {
	padding:0;
}

.news {
	margin:40px auto 0;
}

.news ul {
	list-style: none;
	margin:0; padding:0;
}

.news ul li {
	float: left;
	position: relative;
	width: 33.33%;
	padding:20px;
	line-height: 25px;
}

.news ul li .maindiv {
	border:1px solid transparent;
}

.news ul li:hover .maindiv {
	border:1px solid #7274a2;
}

.news ul li .bgimage {
	height: 260px;
	position: relative;
}

.news ul ul.date {
	list-style: none;
	margin:0; padding:0;
	text-align: center !important;
	position: absolute;
	top: 20px; left: 0;
	width: 100%;
}

.news ul ul.date li {
	position: relative;
	display: inline-block;
	float: none;
	margin: 2px;
	width: auto !important;
	padding:8px 12px !important;
	background: #fff;
	line-height: normal;
}

.news ul ul.date li .fa {
	display: block;
	margin:0 0 5px;
	font-size: 20px;
}

.news ul ul.social_icns {
	list-style: none;
	margin:0; padding:0;
	text-align: center !important;
	position: absolute;
	bottom: 20px; left: 0;
	width: 100%;
	opacity: 0;
}

.news ul li:hover ul.social_icns {
	opacity: 1;
}

.news ul ul.social_icns li {
	position: relative;
	display: inline-block;
	float: none;
	margin: 2px;
	width: auto !important;
	padding:0 !important;
}

.news ul ul.social_icns li a {
	display: block;
	width:30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border:1px solid;
}

.news ul ul.social_icns li a:hover {
	background: #7274a2;
	border: 1px solid #7274a2;
}

.news ul li a {
	color: #000;
}

.news ul li h3 {
	margin:0 0 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 30px;
}

.news ul h3 span {
	display: block;
}

.news ul li div.whitebg {
	background: #f5f2f0; padding:40px 20px;
}

ul.slick-dots {
    clear: both !important;
    position: relative !important;
    text-align: center !important;
    margin: 0 auto;
    width: auto !important;
}

ul.slick-dots li {
    width: auto !important;
    padding: 0 !important;
    float: none !important;
    display: inline-block !important;
	box-shadow: none !important;
}

ul.slick-dots li button {
	padding: 0 !important;
	box-shadow: none !important;
}

ul.slick-dots li button, ul.slick-dots li button::before {
    width: 80px !important;
    content: '' !important;
    height: 4px !important;
    background: #fff !important;
    margin:0 3px;
}

ul.slick-dots li.slick-active button, ul.slick-dots li.slick-active button::before {
	background: #7274a2 !important;
}


.redbg {
	background: #7274a2;
	color: #fff;
}

.redbg h2.title {
	color: #fff !important;
}

.whitebtn {
	display: inline-block;
}

.whitebtn button {
	background: #fff !important;
	color: #000 !important;
	font-weight: bold;
}

.wearehere {
	position: relative;
}

.wearehere::before {
	position: absolute;
	content: "";
	top: 0; left: 0;
	width:100%; height: 100%;
	background: rgba(255,255,255,0);
}

.wearehere .section {
	position: relative;
	z-index: 999;
	font-weight: bold;
}

.pointer {
	margin:50px auto;
}

.contact_details .container {
	padding:0;
}

.contact_details ul {
	list-style: none;
	margin:0; padding:0;
}

.contact_details ul li {
	position: relative;
	float: left;
	width: 33.33%;
	padding:60px 80px;
	border-right: 1px solid #7274a2;
}

.contact_details ul li:last-child {
	border-right: 0;
}

.contact_details ul li h3 {
	margin:0 0 20px;
	padding:0;
}

.six_social_boxes ul {
	list-style: none;
	margin:0; padding:0;
}

.six_social_boxes ul li {
	position: relative;
	float: left;
	width: 16.66%;
	padding:10px;
	color: #fff;
	line-height:normal;
}

.six_social_boxes ul li a.outer {
	border:1px solid #fff;
	padding:15px;
	text-align: center;
	display: block;
	color: #fff !important;
	text-decoration: none !important;
}

.six_social_boxes ul li .fa {
	display: block;
	font-size: 18px;
	margin:0 0 10px;
}

.contactform {
	margin:40px auto 0;
}

.contactform ::-webkit-input-placeholder { 
  color: #000;
}
.contactform ::-moz-placeholder { 
  color: #000;
}
.contactform :-ms-input-placeholder {
  color: #000;
}
.contactform :-moz-placeholder {
  color: #000;
}

.contactform p {
	margin:0 0 10px; padding:0;
}

.contactform p input, 
.contactform p textarea {
	width: 100%;
	padding:10px;
	border: none;
	border-bottom: 1px solid #eee;
	color: #d91f24;
	text-align: center;
	font-size: 16px;
}

.contactform p textarea {
	height: 160px;
}

.contactform p input[type="submit"], 
.contactform p button {
	width: auto !important;
	padding:12px 50px;
	color: white !important;
}

.checkourvideo { 
	position: relative;
}

.checkourvideo::before {
	position: absolute;
	content: "";
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.7);
}

.checkourvideo .container {
	position: relative;
	color: #fff;
}

.checkourvideo h2 {
	text-transform: uppercase;
	color: #fff !important;
}

.checkourvideo h2::after {
	background: #fff !important;
}

.playbtn {
	font-size: 30px;
	color: #fff;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius:100%;
	border:2px solid #fff;
	display: inline-block;
}

.howwework .container {
	padding:0;
}

.howwework_ul {
	margin:40px auto 0;
}
.howwework_ul ul li {
	padding: 20px;
}
.howwework_ul ul li img {
	height: 80px;
}
.howwework_ul ul li h4 {
	color: #001839;
}

.quotation { 
	position: relative;
}

.quotation::before {
	position: absolute;
	content: "";
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: rgba(255,255,255,0.7);
}

.quotation .container {
	position: relative;
	padding:0;
}

.quote {
	position: relative;
	content: open-quote;
	font-size: 17px;
	line-height: 35px;
	padding:130px 40px;
	padding-left: 90px;
	background: url(../images/quotes.png) no-repeat;
	background-position: calc(30px) calc(130px);
}

.quote p.authorr {
	color: #7274a2;
	font-weight: bold;
}




/**footer style**/
.footer {
    background: #3b3f4a;
	color:#ffffff;
	padding:10px 0;
}

.footerlogo {
	padding:15px 0 0;
}

ul.social {
	list-style:none;
	margin:0; padding:0;
}

ul.social li {
	position:relative;
	display:inline-block;
	margin:0 3px;
}

ul.social li a {
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #fff;
	color:#fff;
}

ul.social li a:hover {
	background: #fff;
	color: #7274a2;
}

.social_logos {
	padding:13px 0;
}

.copyright {
	padding:15px 0 0;
}

.copyright .fa {
	margin-left: 5px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100000;
    top: 0;
	left: -250px;
    background-color: #7274a2;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav ul {
	color:white;
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid rgba(0,0,0,0.3);
}

.sidenav ul li {
	display:block;
	position:relative;
	margin:0;
    color: #fff;
	border-bottom:1px solid rgba(0,0,0,0.3);
}

.sidenav ul.submenu {
	border-top:1px solid rgba(0,0,0,0.3);
	background:rgba(0,0,0,0.3);
}

.sidenav ul li:last-child {
	border-bottom:none;
}

.sidenav a, .sidenav ul li span.mainitem {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
	padding:8px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 17px;
    z-index: 999;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    background: rgba(0,0,0,0.3);
}
.opensidemenu {
	display:none !important;
	position: absolute;
	text-align: center;
	-moz-user-select: none;
	margin:0 auto; 
	font-size: 20px;
	z-index:9999;
	cursor: pointer;
	top: 26px;
	right: 20px;
}


/* Center the loader */
#loader_div {
	background: #fff;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #7274a2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.whatweare {
	padding-top: 0;
}

.whatweare h2.title {
	font-size: 25px;
}

.whatweare h2.title::after {
	display: none;
}

.wwa img {
	width: 100%;
}

.wwa .right {
	padding: 10px 20px;
}

.percentage {
	border:1px solid #eee;
}

.percentage ul {
	list-style: none;
	margin:0; padding:0;
}

.percentage ul li {
	border:1px solid #eee;
	padding:10px;
}

.percentage ul li .bar {
	display: block;
	height: 10px;
	background: #7274a2;
	border-radius:10px;
	margin-top: 8px;
}

.percentage ul li .bar::before {
	background: #d5d5d5;
	display: block;
	height: 10px;
	border-radius:10px;
	width: 100%;
	content: "";
	position: absolute;
	z-index: -1;
}

.history_ul ul {
	list-style: none;
	margin:40px 0 100px; padding:0;
	position: relative;
	height: 300px;
}

.history_ul ul::after {
	position: absolute;
	content: "";
	height: 2px;
	background: #eee;
	width: 100%;
	left: 0;
	bottom: -15px;
}

.history_ul ul li {
	position: absolute;
	display: inline-block;
	margin:0; padding:0;
	bottom: 20px;
	z-index: 99;
}

.history_ul ul li:nth-child(odd)::after {
	content: "";
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border:1px solid;
	background-color: #fff;
	margin-top: 20px;
	left: 0;
}

.history_ul ul li:nth-child(even)::before {
	content: "";
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border:1px solid;
	background-color: #fff;
	margin-top: -50px;
	left: 40%;
}

.history_ul ul li.one {
	left: 0;
}

.history_ul ul li.two {
	left: 120px;
	bottom: -89px;
}

.history_ul ul li.three {
	width:250px;
	border:2px solid #7274a2;
	left:280px;
}

.history_ul ul li.three .bgimage {
	height: 150px;
	width: 100%;
}

.history_ul ul li.three .content {
	padding:10px;
}

.history_ul ul li.three .content .downarrow {
	position: absolute;
	left: 40%;
	bottom: -15px;
}

.history_ul ul li.three::after {
	background: #7274a2;
	border:1px solid #7274a2;
	left: 40%;
}

.history_ul ul li.four {
	left: 480px;
	bottom: -89px;
}

.history_ul ul li.five {
	left: 670px;
}

.history_ul ul li.five::after {
	left: 40%;
}

.history_ul ul li.six {
	left: 880px;
	bottom: -89px;
}

.history_ul ul li.seven {
	left: auto;
	text-align: right;
	right: 0;
}

.history_ul ul li.seven::after {
	right: 0;
	left: auto;
}

.history_ul ul li h3 {
	margin: 0; padding:0;
	color: #001839;
	text-transform: uppercase;
}

.history_ul ul li h3 span {
	display: block;
	color: #999;
	text-transform: none;
	font-weight: normal;
	margin-top: 2px;
	font-size: 15px;
}



.header.fixed {
	position: fixed;
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
}

.header.fixed .logo {
	color: #000;
}

.header.fixed nav {
	padding:2px 0 0;
}

.header.fixed nav ul li a {
	color: #000;
}

.header.fixed nav ul li a:hover, .header.fixed nav ul li.active a {
	color: #7274a2;
}

.header.fixed .letstalk_button {
	padding:0;
}

.header.fixed .letstalk_button a:hover {
	border:2px solid #7274a2;
	background: transparent;
	color: #7274a2;
}




/**media queries**/
@media (max-width: 1024px) {
	.header {
		line-height:normal;
	}
	.navbar {
		float: none;
		width: auto;
		clear: both;
	}
	.letstalk_button {
		padding: 2px 0;
		width: 15% !important;
	}
	.letstalk_button a {
		padding:5px 20px;
	}
	.landingimage h1.bigtitle {
		font-size: 80px;
	}
	.aboutus h1 {
		font-size: 60px;
	}
	.footerlogo, .social_logos, .copyright {
	    float: none;
	    width: auto;
	    text-align: center;
	    padding: 10px 0 !important;
	    display: block !important;
	}
	.footerlogo img {
		display: inline-block;
	}
}

@media (max-width: 800px) {
	.navbar {
		display: none;
	}
	.opensidemenu {
		display: block !important;
	}
	.letstalk_button {
		margin-right: 30px;
		width: 30% !important;
		padding-top: 10px;
	}
	.logodiv {
		width: 30% !important; 
	}
	.three-columns ul li {
		margin:10px auto; float: none;
		width: auto;
		padding: 50px 20px;
	}
	.col70.marginauto {
	    width: auto;
	}
	.andmore {
		font-size : 28px;
	}
	.team_ul ul li {
		width: 50%;
	}
	.team_ul ul li img {
		width: auto;
		max-height: 300px;
	}
	.portoflio_items ul li {
		width: 50%;
	}
	.testimonials ul li {
		float: none;
		width: auto;
		padding:30px;
		margin:15px auto;
	}
	ul.plans li {
		width: 50%;
	}
	.contactform {
		width: 80%;
	}
	.contact_details ul li {
		float: none;
		width: auto;
		border-right: none !important;
		border-bottom: 1px solid #7274a2 !important;
	}
	.contact_details ul li:last-child {
		border-bottom: none !important;
	}

}

@media (max-width: 667px) {
	.logodiv {
		width: 50% !important; 
	}
	.landingimage h1.bigtitle {
		font-size: 50px;
	}
	.landingimage .description {
		width: auto;
	}
	.section h2.title {
		font-size :22px;
	}
	.three-columns ul li h3 span {
		display: inline-block;
	}
	.aboutus h1 {
		font-size :30px;
	}
	.trustedby_clients ul li {
	    width: 50%;
	    border: 1px solid #eee !important;
	}
	.four-columns ul li {
		width: 50%;
	}
	.team_ul ul li {
		min-height: 550px !important;
	}
	.team_ul ul.social_icons li {
		min-height: auto !important;
	}
	.news ul h3 span {
		display: inline-block ;
	}
	.contactform {
		width: auto !important;
	}
	.contactform p input, .contactform p textarea {
		font-size :14px !important;
	}
}

@media (max-width: 414px) {
	.logodiv {
		float: none;
		width: auto !important;
		text-align: center;
	}
	.letstalk_button {
		float: none;
		width: 100% !important;
		padding:10px 0 !important;
		text-align: center;
		margin:0 auto !important;
	}
	.landingimage {
		padding:140px 0 50px;
	}
	.landingimage h1.bigtitle {
		font-size :40px;
	}
	.four-columns ul li {
		float: none;
		width:auto;
	}
	.team_ul ul li {
		min-height: auto !important;
		width: auto !important;
		float: none !important;
	}
	.portoflio_items ul li {
		float: none;
		width: auto;
		padding:10px;
	}
	.row .left, .row .right {
	    float: none !important;
	}
	ul.plans li {
		float: none;
		width: auto;
	}	
}